/* about page - start
==================================================================================================== */
// our-management-section - start
// ==================================================
.our-management-section {
	.management-item {
		.item-title {
			margin-bottom: 30px;
			.title-text {
				margin: 0px;
				display: table;
				font-weight: 900;
				position: relative;
				padding-right: 60px;
				font-size: $font-medium;
				&:after {
					right: 0;
					bottom: 6px;
					height: 5px;
					width: 50px;
					content: '';
					position: absolute;
					background-color: $yellow-color;
				}
			}
		}
	}
}
// our-management-section - end
// ==================================================



// award-section - start
// ==================================================
.award-section {

	.company-age {
		height: 620px;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		.banner-img {
			top: 50%;
			left: 50%;
			width: 390px;
			height: 430px;
			overflow: hidden;
			position: absolute;
			transform: translate(-50%,-50%);
		}
	}

	// awaed-item-area - start
	.awaed-item-area {
		position: relative;
		&:before {
			top: 0;
			bottom: 0;
			left: 13px;
			width: 2px;
			content: '';
			height: 100%;
			position: absolute;
			background-color: $default-color;;
		}

		// arrow setting - start
		.arrow-up,
		.arrow-down {
			left: 0px;
			z-index: 2;
			position: absolute;
			color: $default-color;
			font-size: $font-large;
		}
		.arrow-up {top: -22px;}
		.arrow-down {bottom: -22px;}
		// arrow setting - end

		// awaed-wrapper - start
		.awaed-wrapper {
			max-height: 425px;
			overflow-y: scroll;
			position: relative;
			.awaed-item {
				padding: 30px 0px;
				position: relative;
				padding-left: 120px;
				.awaed-content {
					.awaed-title {
						font-weight: 700;
						position: relative;
						font-size: $font-medium;
						.awaed-date {
							top: 5px;
							left: -105px;
							padding-left: 10px;
							position: absolute;
							padding-bottom: 10px;
							color: $yellow-color;
							font-size: $font-xsmall;
							text-transform: uppercase;
							&:before {
								left: -6px;
								z-index: 1;
								content: '';
								width: 10px;
								bottom: -4px;
								height: 10px;
								position: absolute;
								border-radius: 100%;
								background-color: $yellow-color;
							}
							&:after {
								left: 0;
								right: 0;
								bottom: 0;
								content: '';
								height: 2px;
								width: 100%;
								position: absolute;
								background-color: $default-color;
							}
						}
					}
					p {font-size: $font-xxsmall;}
				}
			}
		}
		// awaed-wrapper - end
	}
	// awaed-item-area - end
}
.awaed-wrapper::-webkit-scrollbar {display: none;}
// award-section - end
// ==================================================



// service-section - start
// ==================================================
.service-section {
	.team-btn {padding-top: 45px;}

	.service-wrapper {
		>ul {
			width: 100%;
			margin: 0px;
			padding: 0px;
			display: table;
			border-top: 1px solid $gray-deep-color;
			border-left: 1px solid $gray-deep-color;
			>li {
				width: 25%;
				float: left;
				display: inline-block;
				border-right: 1px solid $gray-deep-color;
				border-bottom: 1px solid $gray-deep-color;
				a {
					z-index: 1;
					width: 100%;
					height: 100%;
					display: block;
					position: relative;
					text-align: center;
					padding: 60px 30px;
					color: $black-color;
					background-color: $white-color;
					.icon {
						display: table;
						margin: 0 auto 30px;
						transition: $default-transition;
						i {
							font-size: 54px;
							background: $gradient-default;
							transition: $default-transition;
							-webkit-background-clip: text!important;
							-webkit-text-fill-color: transparent!important;
						}
					}
					.service-title {
						width: 100%;
						display: block;
						font-weight: 900;
						font-size: $font-small;
						font-family: $heading-font;
						text-transform: capitalize;
					}
					.service-sub-title {
						width: 100%;
						display: block;
						font-size: $font-xxsmall;
						text-transform: capitalize;
					}
					&:before {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						z-index: -1;
						content: '';
						position: absolute;
						background: $gradient-default;
						transition: $default-transition;
					}
					&:hover {
						z-index: 2;
						color: $white-color;
						transform: scale(1.03);
						box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
						.icon {
							i {
								background: transparent!important;
								-webkit-text-fill-color: $white-color!important;
							}
						}
						&:before {opacity: 1;}
					}
				}
			}
		}
	}
}
// service-section - end
// ==================================================
/* about page - end
==================================================================================================== */