/* booking page - start
==================================================================================================== */

// booking-timeout-section - start
.booking-timeout-section {
	padding: 80px 0px;
	.rightside-wrapper {
		.clock-wrapper {
			width: 100%;
			display: table;
			margin: -24px 0px;
			ul {
				margin: 0px;
				padding: 0px;
				float: right;
				display: table;
				li {
					float: left;
					width: 100px;
					height: auto;
					margin: 0px 5px;
					overflow: hidden;
					list-style: none;
					text-align: center;
					border-radius: 5px;
					display: inline-block;
					box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
					&:last-child {margin-right: 0px;}
					strong {
						width: 100%;
						display: block;
						font-weight: 700;
						text-align: center;
						padding: 20px 10px;
						color: $black-color;
						font-size: $font-xlarge;
						font-family: $heading-font;
						background-color: $white-color;
						border-bottom: 2px solid $gray-deep-color;
					}
					small {
						width: 100%;
						display: block;
						font-weight: 700;
						padding: 5px 10px;
						color: $yellow-color;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
// booking-timeout-section - end

.booking-section {

	.section-title {
		.big-title {
			font-size: $font-large;
		}
	}

	.booking-content-wrapper {

		// order-summary-table - start
		.order-summary-table {
			margin: 0px;
			padding: 30px;
			border-radius: 3px;
			background-color: $white-color;
			.table {
				margin: 0px;
				thead {
					tr {
						th {
							color: $yellow-color;
							font-size: $font-xsmall;
							text-transform: uppercase;
						}
					}
				}
				tr {
					border: none;
					th,
					td {
						border: 0px;
						padding: 15px;
						font-weight: 700;
						color: $black-color;
					}
					td {
						input[type=text] {
							width: 50px;
							border: none;
							display: table;
							margin: 0 auto;
							background: none;
							text-align: center;
							background-color: red;
							&:focus {outline: none;}
							background: transparent url(../images/3.down-arrow.png) no-repeat right 0px center;
						}
					}
				}
				.tfooter {
					color: $white-color;
					text-transform: uppercase;
					background: $gradient-default;
					th,
					td {color: $white-color;}
				}
			}
		}
		// order-summary-table - end



		// reg-info - start
		.reg-info {
			.form-title {
				font-weight: 900;
				color: $black-color;
				margin-bottom: 15px;
				font-size: $font-medium;
				text-transform: uppercase;
			}
			.form-wrapper {
				.form-item {
					margin-bottom: 5px;
					input {
						border-radius: 3px;
						background-color: $white-color;
					}
					.cradit-card-select {
						width: 100%;
						height: 100%;
						display: block;
						font-weight: 700;
						padding: 0px 20px;
						border-radius: 3px;
						color: $black-color;
						-webkit-appearance: none;
						text-transform: capitalize;
						transition: $default-transition;
						border: 1px solid $gray-deep-color;
						background: $white-color url(../images/3.down-arrow.png) no-repeat right 20px center;
						&:focus {border-color: $yellow-color;}
					}
				}

				.expired-date-form {
					margin-top: 20px;
					.title-text {
						font-weight: 700;
						margin-bottom: 19px;
						font-size: $font-small;
					}
					ul {
						width: 100%;
						margin: 0px;
						padding: 0px;
						display: table;
						li {
							float: left;
							width: 32.4%;
							list-style: none;
							margin-right: 5px;
							display: inline-block;
							&:last-child {margin-right: 0px;}
							select {
								width: 100%;
								height: 100%;
								display: block;
								font-weight: 700;
								padding: 0px 20px;
								border-radius: 3px;
								color: $black-color;
								-webkit-appearance: none;
								text-transform: capitalize;
								transition: $default-transition;
								border: 1px solid $gray-deep-color;
								background: $white-color url(../images/1.down-arrow.png) no-repeat right 20px center;
								&:focus {border-color: $yellow-color;}
							}
						}
					}
				}
			}
		}
		// reg-info - end



		// billing-form - start
		.billing-form {
			.form-item {
				margin-bottom: 5px;
				select {
					width: 100%;
					height: 100%;
					display: block;
					font-weight: 700;
					padding: 0px 20px;
					border-radius: 3px;
					color: $black-color;
					-webkit-appearance: none;
					text-transform: capitalize;
					transition: $default-transition;
					border: 1px solid $gray-deep-color;
					background: $white-color url(../images/1.down-arrow.png) no-repeat right 20px center;
					&:focus {border-color: $yellow-color;}
				}
				input {
					border-radius: 3px;
					background-color: $white-color;
				}
			}
			.form-item-group {
				ul {
					width: 100%;
					margin: 0px;
					padding: 0px;
					display: table;
					li {
						float: left;
						width: 32.88%;
						list-style: none;
						margin-right: 5px;
						display: inline-block;
						&:last-child {margin-right: 0px;}
					}
				}
			}
		}
		// billing-form - end
	}

	.sidebar-section {
		.location-wrapper {
			.location-info-list {
				.area-name {
					background-color: $gray-light-color;
				}
			}
		}
	}
}
/* booking page - end
==================================================================================================== */