/* contact section - start
==================================================================================================== */
.contact-section {
	.contact-form {
		.form-item {
			margin-bottom: 30px;
			input {border-radius: 3px;}
		}
		textarea {
			border-radius: 3px;
			margin-bottom: 30px;
		}
	}
}
/* contact section - end
==================================================================================================== */