/* error section - start
==================================================================================================== */
.error-section {

	// icon - start
	.icon {
		width: 360px;
		height: 360px;
		font-size: 200px;
		text-align: center;
		line-height: 360px;
		margin: 0 auto 30px;
		border-radius: 100%;
		color: $default-color;
		background-color: $gray-deep-color;
	}
	// icon - end

	// error-content - start
	.error-content {
		h2 {
			font-size: 90px;
			font-weight: 900;
		}
		h3 {
			font-weight: 700;
			font-size: $font-medium;
			text-transform: uppercase;
		}
		.custom-btn {box-shadow: none;}
	}
	// error-content - end
}
/* error section - end
==================================================================================================== */