/* event details page - start
==================================================================================================== */
.event-details-section {

	.section-title {
		.big-title {font-size: $font-xlarge;}
	}

	// event-details - start
	.event-details {

		.event-title {
			.tag-item {
				font-weight: 700;
				margin-bottom: 5px;
				color: $black-color;
				i {
					margin-right: 5px;
					margin-bottom: 5px;
					color: $yellow-color;
				}
			}
			.event-title {
				margin: 0px;
				font-size: $font-xlarge;
				strong {font-weight: 900;}
			}
		}

		// event-details-carousel - satrt
		.event-details-carousel {
			margin-bottom: 30px;
			.item {
				height: 380px;
				overflow: hidden;
			}
		}
		// event-details-carousel - end

		// owl-dots - owl-nav - start
		.owl-theme {
			.owl-dots {display: none;}
			.owl-nav {
				top: 0;
				right: 0;
				width: auto;
				padding: 10px;
				position: absolute;
				.owl-next,
				.owl-prev {
					margin: 0px;
					width: 35px;
					margin: 5px;
					height: 35px;
					padding: 0px;
					overflow: hidden;
					position: relative;
					color: transparent;
					border-radius: 100%;
					background: transparent;
					&:before {
						top: 0;
						left: 0;
						width: 100%;
						opacity: .5;
						height: 100%;
						display: block;
						font-weight: 900;
						line-height: 35px;
						position: absolute;
						color: $black-color;
						background-color: $white-color;
						transition: $default-transition;
						font-family: 'Font Awesome 5 Free';
					}
					&:hover {
						&:before {opacity: 1;}
					}
				}
				.owl-next {
					&:before {content: '\f061';}
				}
				.owl-prev {
					&:before {content: '\f060';}
				}
			}
		}
		// owl-dots - owl-nav - end

		// event-info-list - start
		.event-info-list {
			ul {
				width: 100%;
				display: table;
				li {
					width: 32.9%;
					padding: 15px;
					margin-right: 5px;
					border-radius: 3px;
					background-color: $gray-light-color;
					&:last-child {margin-right: 0px;}
					.icon {
						float: left;
						width: 40px;
						height: 40px;
						line-height: 40px;
						text-align: center;
						border-radius: 100%;
						color: $white-color;
						font-size: $font-small;
						background-color: $yellow-color;
					}
					.event-content {
						display: table;
						padding-left: 15px;
						.event-title {
							font-weight: 700;
							color: $default-color;
							font-size: $font-xxsmall;
						}
						.event-date {
							margin: 0px;
							font-weight: 900;
							color: $black-color;
							font-size: $font-xsmall;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		// event-info-list - end

	}
	// event-details - end


	
	// event-schedule - start
	.event-schedule {
		.schedule-date-menu {
			margin: 0px;
			padding: 0px;
			>li {
				float: left;
				overflow: hidden;
				margin-right: 15px;
				display: inline-block;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				&:last-child {margin-right: 0px;}
				>a {
					width: 100%;
					height: 100%;
					display: block;
					font-weight: 900;
					padding: 15px 45px;
					text-align: center;
					color: $default-color;
					font-size: $font-medium;
					text-transform: uppercase;
					font-family: $heading-font;
					background-color: $gray-light-color;
					small {
						width: 100%;
						display: block;
						font-weight: 700;
						font-family: $body-font;
						font-size: $font-xxsmall;
						text-transform: capitalize;
					}
				}
				>.active {
					color: $white-color;
					background-color: $yellow-color;
				}
			}
		}

		.tab-content {
			.hotal-menu {
				z-index: 1;
				margin: 0px;
				padding: 30px;
				box-shadow: 0 1px 16px 2px rgba(0,0,0,.1);
				>li {
					float: left;
					height: 40px;
					width: 24.444%;
					overflow: hidden;
					margin-right: 5px;
					border-radius: 3px;
					display: inline-block;
					&:last-child {margin-right: 0px;}
					>a {
						width: 100%;
						height: 100%;
						display: block;
						font-weight: 700;
						line-height: 40px;
						padding: 0px 30px;
						text-align: center;
						color: $default-color;
						text-transform: capitalize;
						background-color: $gray-light-color;
					}
					>.active {
						color: $white-color;
						background-color: $yellow-color;
					}
				}
			}
			.tab-content {
				.tab-pane {
					.hall-item {
						padding: 30px;
						margin-bottom: 2px;
						background-color: $gray-light-color;
						.hall-image {
							width: 220px;
							float: right;
							height: 240px;
							overflow: hidden;
							border-radius: 3px;
						}
						.hall-content {
							display: table;
							padding-right: 15px;
							.event-info-list {
								ul {
									li {
										margin-right: 15px;
										&:last-child {margin-right: 0px;}
										.icon {
											float: left;
											width: 45px;
											height: 45px;
											line-height: 45px;
											text-align: center;
											border-radius: 100%;
											color: $white-color;
											font-size: $font-small;
											background-color: $yellow-color;
										}
										.event-content {
											display: table;
											padding-left: 5px;
											.event-title {
												font-weight: 700;
												color: $default-color;
												font-size: $font-xxsmall;
											}
											.event-date {
												margin: 0px;
												font-weight: 900;
												color: $black-color;
												font-size: $font-xsmall;
												text-transform: uppercase;
											}
										}
									}
								}
							}

						}
					}
				}
			}
		}
	}
	// event-schedule - end



	// event-pricing-plan - start
	.event-pricing-plan {
		.pricing-list {
			ul {
				.pricing-table {
					width: 33.333%;
					overflow: hidden;
					padding: 50px 30px;
					text-align: center;
					position: relative;
					transition: $default-transition;
					background-color: $gray-light-color;

					.popularity-sign {
						top: 35px;
						left: -50px;
						min-width: 200px;
						padding: 5px 15px;
						position: absolute;
						text-align: center;
						color: $white-color;
						font-size: $font-xxsmall;
						text-transform: uppercase;
						background-color: #85b200;
						transform: rotate(-45deg);
					}

					.pricing-header {
						.amount {
							font-size: 54px;
							font-weight: 400;
							color: $yellow-color;
						}
						.pricing-table-title {
							margin: 0px;
							font-weight: 900;
							color: $black-color;
							font-size: $font-small;
							text-transform: uppercase;
						}
					}

					.pricing-body {
						padding: 30px 0px;
						ul {
							margin: 0px;
							padding: 0px;
							li {
								width: 100%;
								padding: 8px;
								display: block;
								list-style: none;
								text-align: left;
								position: relative;
								padding-left: 35px;
								border-bottom: 1px solid #dddddd;
								&:last-child {border-bottom: none;}
								&:before {
									top: 50%;
									left: 5px;
									font-weight: 900;
									position: absolute;
									transform: translateY(-50%);
									font-family: 'Font Awesome 5 Free';
								}
							}
							.item-on {
								&:before {
									color: green;
									content: '\f00c';
								}
							}
							.item-off {
								&:before {
									color: red;
									content: '\f00d';
								}
							}
						}
					}

					.pricing-footer {
						text-align: center;
						.custom-btn {
							width: 100%;
							display: block;
							font-weight: 700;
							box-shadow: none;
							padding: 12px 40px;
							background: $white-color;
							text-transform: uppercase;
							color: $black-color !important;
							&:before {opacity: 0;}
						}
					}

					&:hover {
						.pricing-footer {
							.custom-btn {
								color: $white-color !important;
								&:before {opacity: 1;}
								&:after {opacity: 0;}
							}
						}
					}

				}
				.popular-pricing-table {
					z-index: 1;
					transform: scale(1.05);
					background-color: $white-color;
					box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
					.pricing-footer {
						.custom-btn {
							color: $white-color !important;
							&:before {opacity: 1;}
							&:after {opacity: 0;}
						}
					}
				}
			}
		}
	}
	// event-pricing-plan - end



	// register-wrapper - satrt
	.register-wrapper {
		.register-table {
			ul {
				width: 100%;
				margin: 0px;
				padding: 0px;
				display: table;
				overflow: hidden;
				border-radius: 3px;
				border: 1px solid $gray-deep-color;
				li {
					width: 100%;
					display: table;
					font-size: $font-xxsmall;
				}

				// rt-header - start
				.rt-header {
					border-radius: 3px;
					padding: 15px 30px;
					color: rgba(255,255,255,.8);
					background: $gradient-default;
					.header-leftside-content {
						width: 70%;
						float: left;
						strong {color: $white-color;}
					}
					.header-rightside-content {
						width: 30%;
						float: right;
						text-align: right;
					}
				}
				// rt-header - end

				// rt-body - start
				.rt-body {
					.rt-body-item {
						width: 100%;
						display: table;
						padding: 15px 30px;
						border-bottom: 1px solid $gray-deep-color;
						.leftside-content {
							width: 80%;
							float: left;
							.ticket-title {
								margin: 0px;
								font-size: $font-medium;
							}
							.ticket-price {
								width: 100%;
								display: table;
								font-weight: 700;
							}
						}
						.rightside-content {
							width: 20%;
							float: right;
							.ticket-select {
								width: 100%;
								height: 45px;
								position: relative;
								border-radius: 3px;
								background-color: $gray-light-color;
								select {
									width: 100%;
									height: 100%;
									display: block;
									font-weight: 700;
									padding: 0px 20px;
									border-radius: 3px;
									color: $black-color;
									-webkit-appearance: none;
									border: 1px solid $gray-deep-color;
									background: transparent url(../images/1.down-arrow.png) no-repeat right 20px center;
								}
							}
						}
					}
				}
				// rt-body - end

				// rt-footer - satrt
				.rt-footer {
					padding: 15px 30px;
					.footer-leftside-content {
						width: 80%;
						float: left;
						padding: 11px 0px;
						.payment-card {
							margin: -5px 0px;
							margin-right: 30px;
						}
						.total-price {
							font-weight: 700;
							color: $black-color;
						}
					}
					.footer-rightside-content {
						width: 20%;
						float: right;
						.custom-btn {
							width: 100%;
							height: 45px;
							padding: 0px;
							display: block;
							font-weight: 700;
							box-shadow: none;
							line-height: 45px;
							border-radius: 3px;
							font-size: $font-xxsmall;
							text-transform: uppercase;
							&:after,
							&:before {border-radius: 3px;}
						}
					}
				}
				// rt-footer - end

			}
		}
	}
	// register-wrapper - end



	// reviewer-comment-wrapper - satrt
	.reviewer-comment-wrapper {
		.comment-bar {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $default-color;

			.admin-image {
				float: left;
				width: 80px;
				height: 80px;
				overflow: hidden;
				margin-right: 30px;
				text-align: center;
				border-radius: 100%;
				background-color: $gray-light-color;
			}

			.comment-content {
				display: table;
				.admin-name {
					.rateing-star {
						ul {
							li {
								color: $default-color;
								font-size: $font-xxsmall;
							}
							.rated {color: $yellow-color;}
						}
					}
					.name {
						a {
							font-weight: 700;
							color: $black-color;
							font-size: $font-large;
							text-transform: capitalize;
						}
					}
				}
				.meta-wrapper {
					.btn-group-left {
						padding: 10px 0px;
						.title {
							float: left;
							font-weight: 700;
							margin-right: 15px;
						}
						ul {
							padding: 0px;
							display: table;
							margin: -10px 0px;
							overflow: hidden;
							border-radius: 3px;
							border: 1px solid $default-color;
							li {
								float: left;
								height: 40px;
								min-width: 40px;
								text-align: center;
								display: inline-block;
								border-right: 1px solid $default-color;
								&:last-child {border-right: none;}
								button {
									width: 100%;
									height: 100%;
									display: block;
									font-weight: 600;
									padding: 0px 15px;
									line-height: 40px;
									color: $default-color;
									&:hover {color: $yellow-color;}
								}
							}
						}
					}

					.btn-group-right {
						ul {
							margin: 0px;
							padding: 0px;
							float: right;
							li {
								float: left;
								height: 40px;
								min-width: 40px;
								margin-right: 10px;
								display: inline-block;
								&:last-child {margin-right: 0px;}
								button {
									width: 100%;
									height: 100%;
									display: block;
									font-weight: 600;
									padding: 0px 15px;
									line-height: 40px;
									border-radius: 3px;
									color: $default-color;
									border: 1px solid $default-color;
									&:hover {
										color: $yellow-color;
										border-color: $yellow-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// reviewer-comment-wrapper - end



	// pagination - start
	.pagination {
		display: block;
		ul {float: right;}
	}
	// pagination - end



	// comment-form - satrt
	.comment-form {
		.section-title {
			position: relative;
			.rateing-star-wrapper {
				right: 0;
				bottom: 5px;
				display: table;
				position: absolute;
				.rating-title {
					font-weight: 700;
					font-size: $font-xsmall;
				}
				.rateing-star-form {
					.form-check {
						margin: 0px;
						text-align: center;
						line-height: normal;
						display: inline-block;
						input[type=checkbox] {
							position: relative;
							&:before {
								top: 4px;
								left: -8px;
								cursor: pointer;
								content: "\f005";
								font-weight: 900;
								line-height: 0px;
								position: absolute;
								color: $default-color;
								font-size: $font-medium;
								transition: $default-transition;
								font-family: 'Font Awesome 5 Free';
							}
							&:hover {
								&:before {
									color: $yellow-color;
								}
							}
						}
						input[type=checkbox]:checked:before {color: $yellow-color;}
					}
				}
			}
		}
		.form-wrapper{
			.custom-btn {box-shadow: none;}
		}
	}
	// comment-form - end
}
/* event details page - end
==================================================================================================== */