/* faq section - start
==================================================================================================== */
.faq-section {
	.faq-content-wrapper {
		.faq-accordion {
			.card {
				border: none;
				position: relative;
				border-radius: 0px;

				.card-header {
					padding: 0px;
					border: none;
					background: none;
					margin-bottom: 0;
					border-radius: 0px;
					.btn {
						width: 100%;
						border: none;
						display: block;
						font-weight: 900;
						text-align: left;
						padding: 15px 30px;
						border-radius: 0px;
						position: relative;
						font-size: $font-small;
						font-family: $heading-font;
						background-color: $white-color;
						border-left: 3px solid transparent;
						border-bottom: 1px solid $gray-deep-color;
						span {
							margin-right: 5px;
							color: $default-color;
						}
						&:focus {
							outline: none;
							box-shadow: none;
						}
						&:after {
							top: 50%;
							right: 30px;
							content: '\f0aa';
							font-weight: 900;
							position: absolute;
							color: $default-color;
							transform: translateY(-50%);
							transition: $default-transition;
							font-family: 'Font Awesome 5 Free';
						}
						&:not(.collapsed) {
							background-color: $gray-light-color;
							border-left: 3px solid $yellow-color;
							border-bottom: 1px solid $white-color;
							&:after {
								content: '\f0ab';
								color: $yellow-color;
							}
						}
					}
				}

				.card-body {
					>h3 {
						font-weight: 700;
						margin-bottom: 15px;
						color: $yellow-color;
						font-size: $font-small;
					}
					padding: 30px;
					color: $black-color;
					background-color: $gray-light-color;
					border-left: 3px solid $yellow-color;
				}

			}
		}
	}
}
/* faq section - end
==================================================================================================== */