// global - home page 2 --> start
.homepage2 {

	// gallery section - start
	.event-gallery-section {
		.section-title {
			.big-title {
				font-size: $font-xlarge;
			}
		}
		.filters-button-group {
			text-align: center;
			padding-top: 38px;
		}
	}
	// gallery section - end



	// gallery section - start
	.testimonial5-section {
		.overlay-black {background: rgba(51, 51, 51, 0.7);}
		.item {.clients-comment {color: $white-color;}}
		.owl-theme {
			.owl-nav {
				.owl-next,
				.owl-prev {
					opacity: .5;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	// gallery section - end

}
// global - home page 2 --> end


/* home page 2 - start
==================================================================================================== */
// event-advertisement-section - start
// ==================================================
.event-advertisement-section {
	padding: 30px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.event-item {
		&:hover {
			.plus-effect {opacity: 1;}
		}
		.event-image {
			float: left;
			width: 250px;
			height: 200px;
			overflow: hidden;
			position: relative;
			border-radius: 3px;
			box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.2);
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.event-content {
			display: table;
			padding: 0px 30px;
			.event-title {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $overlay-white;
				.tag {
					i {color: $yellow-color;}
					font-weight: 700;
					margin-bottom: 5px;
					color: $white-color;
				}
				.title-text {
					margin-bottom: 5px;
					color: $white-color;
					font-size: $font-medium;
				}
				.ticket-price {
					font-weight: 700;
					color: $yellow-color;
				}
			}
			.event-info {
				ul {
					width: 100%;
					display: table;
					li {
						margin-bottom: 5px;
						color: $white-color;
						&:last-child {margin-bottom: 0px;}
						.icon {
							width: 30px;
							height: 30px;
							margin-right: 5px;
							line-height: 30px;
							text-align: center;
							border-radius: 100%;
							color: $yellow-color;
							background-color: $white-color;
						}
					}
				}
			}
		}
	}

	.right-content-wrapper {
		.countdown-timer {
			ul {
				float: right;
				li {
					margin: 0px;
					border: 0px;
					padding: 15px 30px;
					border-radius: 0px;
					color: $white-color;
					border-right: 1px solid rgba(255,255,255,0.5);
					&:last-child {
						padding-right: 0px;
						border-right: none;
					}
				}
			}
		}

		.booking-btn {
			font-weight: 700;
			padding: 15px 45px;
			margin-right: 10px;
			border-radius: 30px;
			color: $yellow-color;
			font-size: $font-xxsmall;
			text-transform: uppercase;
			background-color: $white-color;
			&:hover {
				color: $white-color;
				background-color: $yellow-color;
			}
		}
		.details-btn {
			font-weight: 700;
			padding: 12px 45px;
			border-radius: 30px;
			color: $white-color;
			font-size: $font-xxsmall;
			text-transform: uppercase;
			border: 3px solid $white-color;
			&:hover {
				color: $black-color;
				background-color: $white-color;
			}
		}
	}
}
// event-advertisement-section - end
// ==================================================



// event-expertise-section2 - start
// ==================================================
.event-expertise-section2 {
	.expertise-item {
		padding: 12px;
		border-radius: 3px;
		margin-bottom: 30px;
		border: 1px solid $gray-deep-color;
		transition: $default-transition;
		.expertise-image {
			overflow: hidden;
			position: relative;
			img {
				transform: scale(1);
				transition: $default-transition;
			}
		}
		.expertise-content {
			margin-top: 12px;
			position: relative;
			padding-right: 30px;
			.link-btn {
				top: 50%;
				right: 0px;
				position: absolute;
				color: $default-color;
				font-size: $font-medium;
				transform: translateY(-50%);
			}
			.title {
				font-weight: 900;
				margin-bottom: 5px;
				font-size: $font-small;
			}
			p {
				margin: 0px;
				font-size: $font-xxsmall;
			}
		}
		&:hover {
			border-color: $yellow-color;
			background-color: $white-color;
			box-shadow: 0 3px 20px 2px rgba(0,0,0,0.1);
			.expertise-image {
				img {transform: scale(1.2);}
				.plus-effect {opacity: 1;}
			}
			.expertise-content {
				.link-btn {color: $yellow-color;}
			}
		}
	}
}
// event-expertise-section2 - end
// ==================================================



// event-section - start
// ==================================================
.event-section {

	// tab-content - start
	.tab-content {
		.event-item2 {
			margin-bottom: 30px;
			background-color: $white-color;
			transition: $default-transition;
			border: 1px solid $gray-deep-color;

			// event-image - start
			.event-image {
				overflow: hidden;
				position: relative;
				.post-date {
					top: 15px;
					left: 15px;
					z-index: 1;
					width: 70px;
					height: 70px;
					padding: 10px;
					text-align: center;
					position: absolute;
					color: $white-color;
					background: $gradient-default;
					.date {
						font-weight: 900;
						font-size: $font-medium;
						font-family: $heading-font;
					}
					.month {
						font-size: $font-xsmall;
						text-transform: uppercase;
					}
				}
			}
			// event-image - end

			// event-content - start
			.event-content {
				padding: 30px;
				.event-title {
					position: relative;
					&:after {
						top: 0;
						width: 6px;
						left: -30px;
						bottom: 0px;
						content: '';
						height: 100%;
						position: absolute;
						background-color: $yellow-color;
					}
					.title {
						margin: 0px;
						font-weight: 900;
						color: $black-color;
						font-size: $font-medium;
					}
				}
				.event-post-meta {
					ul {
						li {
							margin-bottom: 5px;
							font-size: $font-xxsmall;
							.icon {
								width: 30px;
								height: 30px;
								line-height: 30px;
								margin-right: 10px;
								text-align: center;
								border-radius: 100%;
								color: $white-color;
								font-size: $font-xxsmall;
								background-color: $yellow-color;
							}
						}
					}
				}
				.tickets-details-btn {
					z-index: 1;
					font-weight: 600;
					overflow: hidden;
					padding: 15px 45px;
					position: relative;
					border-radius: 30px;
					color: $default-color;
					font-size: $font-xxsmall;
					text-transform: uppercase;
					background: $gray-light-color;
					&:before {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						z-index: -1;
						content: '';
						position: absolute;
						border-radius: 30px;
						background: $gradient-default;
						transition: $default-transition;
					}
					&:hover {
						color: $white-color;
						background: $yellow-color;
						&:before {opacity: 1;}
					}
				}
			}
			// event-content - end

			&:hover {
				border-color: $yellow-color;
			}

		}
		.pagination {
			ul {
				margin: 50px auto 0px;
			}
		}
	}
	// tab-content - end

}
// event-section - end
// ==================================================
/* home page 2 - end
==================================================================================================== */