/* fonts load - start
==================================================================================================== */
body,p {font-family: $body-font;}
button,a,
h1,h2,h3,h4,h5,h6 {font-family: $heading-font;}
/* fonts load - end
==================================================================================================== */



/* global area - start
==================================================================================================== */
body {
  margin: 0;
  padding: 0;
  word-spacing: 2px;
  letter-spacing: .6px;
  color: $default-color;
  font-size: $font-xsmall;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
::selection {
  color: $yellow-color;
  background: $black-color;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  color: $yellow-color;
}

a,
button {
  border: none;
  cursor: pointer;
  background: none;
  text-decoration: none;
  display: inline-block;
  &:focus {
    outline: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  color: $black-color;
  text-transform: capitalize;
}
p {
  color: $black-color;
}
img {
  height: auto;
  max-width: 100%;
}
.image-wrapper {
  overflow: hidden;
  position: relative;
}
strong,span,small,i {
  line-height: normal;
  display: inline-block;
}
strong {font-weight: 700;}

a:hover {text-decoration: none; color: $orange-color;}
button:focus,
select:focus {outline: none;}

.form-wrapper {
  .form-item {
    width: 100%;
    height: 50px;
    display: table;
    position: relative;
    input {
      width: 100%;
      height: 100%;
      display: block;
      padding: 0px 25px;
      background-color: #f7f7f7;
      border: 1px solid #f0f0f0;
      transition: all .3s ease-in-out;
      &:focus {
        outline: none;
        border-color: $yellow-color;
      }
    }
    .form-item-btn {
      top: 0px;
      z-index: 1;
      right: 0px;
      bottom: 0px;
      margin: 0px;
      font-weight: 700;
      overflow: hidden;
      padding: 0px 30px;
      text-align: center;
      position: absolute;
      color: $white-color;
      text-transform: uppercase;
      &:after,
      &:before {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        content: '';
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:before {background: $yellow-color;}
      &:after {
        opacity: 0;
        background: $yellow-color;
      }
      &:hover {
        &:before {opacity: 0;}
        &:after {opacity: 1;}
      }
    }
  }
}
textarea {
  width: 100%;
  padding: 25px;
  display: block;
  min-height: 150px;
  background-color: #f7f7f7;
  border: 1px solid #f0f0f0;
  transition: all .3s ease-in-out;
  &:focus {
    outline: none;
    border-color: $yellow-color;
  }
}

.custom-select {
  background: transparent url("../images/down-arrow.png") no-repeat right 10px center;
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
  }
}

textarea {}
:-moz-placeholder {color: $default-color;}
::-moz-placeholder {color: $default-color;}
:-ms-input-placeholder {color: $default-color;}
::-webkit-input-placeholder {color: $default-color;}

.owl-theme .owl-nav,
.owl-theme .owl-dots {
  margin: 0px;
  padding: 0px;
}


/* customization of unorder list - start 
================================================== */
.ul-li,
.ul-li-block {
  ul {
    margin: 0px;
    padding: 0px;
  }
}
.ul-li {
  ul {
    li {
      margin: 0;
      padding: 0;
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}
.ul-li-block {
  ul {
    li {
      margin: 0;
      padding: 0;
      display: block;
      list-style: none;
    }
  }
}
/* customization of unorder list - end
================================================== */



/* countdown-timer - style - start
================================================== */
.countdown-timer {
  width: 100%;
  display: table;
  transition: $default-transition;
  ul {
    margin: 0px;
    padding: 0px;
    display: table;
    li {
      float: left;
      height: 80px;
      min-width: 80px;
      margin: 0px 5px;
      padding: 15px 10px;
      text-align: center;
      border-radius: 15px;
      display: inline-block;
      color: $default-color;
      border: 2px solid $default-color;
      strong {
        margin: 0px;
        width: 100%;
        display: block;
        line-height: .8;
        font-weight: 900;
        font-size: $font-xlarge;
        font-family: $heading-font;
      }
      small {
        font-size: $font-xxsmall;
        text-transform: uppercase;
      }
    }
  }
}
/* countdown-timer - style - end
================================================== */



/* pagination setting - start
================================================== */
.pagination {
  border-radius: 0px;
  ul {
    display: table;
    .page-item {
      height: 40px;
      min-width: 40px;
      position: relative;
      .page-link {
        margin: 0px;
        width: 100%;
        height: 100%;
        padding: 5px;
        border: none;
        padding: 0px;
        display: block;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        color: $default-color;
        text-transform: uppercase;
        font-family: $heading-font;
        background-color: transparent;
      }
      &:hover {
        .page-link {
          color: $black-color;
        }
      }
    }
    .page-item.active {
      .page-link {
        color: $black-color;
        font-size: $font-medium;
        &:after {
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
          content: '';
          position: absolute;
          background-color: $yellow-color;
        } 
      }
    }

    .page-item.prev-item,
    .page-item.next-item {
      .page-link {
        padding: 0px 30px;
        border-radius: 0px;
        position: relative;
        &:before {
          top: 50%;
          font-weight: 900;
          position: absolute;
          transform: translateY(-50%);
          transition: $default-transition;
          font-family: 'Font Awesome 5 Free';
        }
      }
      &:hover {
        .page-link {
          color: $black-color;
          &:before {color: $black-color;}
        }
      }
    }
    .page-item.prev-item {
      .page-link {
        &:before {
          left: 15px;
          content: '\f053';
        }
      }
    }
    .page-item.next-item {
      .page-link {
        &:before {
          right: 15px;
          content: '\f054';
        }
      }
    }

  }
}
/* pagination setting - end
================================================== */



/* padding - margin setting - start 
================================================== */
.sec-ptb-100 {padding: 100px 0px;}
.mb-15 {margin-bottom: 15px;}
.mb-30 {margin-bottom: 30px;}
.mb-50 {margin-bottom: 50px;}
.mb-80 {margin-bottom: 80px;}
/* padding - margin setting - end
================================================== */



/* link button - start
================================================== */
.custom-btn {
  z-index: 1;
  font-weight: 600;
  overflow: hidden;
  padding: 15px 35px;
  text-align: center;
  position: relative;
  border-radius: 50px;
  display: inline-flex;
  font-size: $font-xxsmall;
  text-transform: uppercase;
  background: $yellow-color;
  color: $white-color !important;
  box-shadow: 0 5px 60px 5px rgba(0,0,0,.2);
  &:after,
  &:before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 50px;
    transition: all .3s ease-in-out;
  }
  &:before {background: $gradient-default;}
  &:after {
    opacity: 0;
    background: $gradient-reverse;
  }
  &:hover {
    &:before {opacity: 0;}
    &:after {opacity: 1;}
  }
}
/* link button - end
================================================== */



/* title - start
================================================== */
.section-title {
  position: relative;
  .line-style {
    z-index: 1;
    top: -30px;
    left: -30px;
    width: 70px;
    height: 3px;
    position: absolute;
    background-color: $yellow-color;
  }
  .sub-title {
    margin-bottom: 15px;
    letter-spacing: 5px;
    color: $default-color;
    font-size: $font-small;
    text-transform: uppercase;
  }
  .big-title {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 400;
    color: $black-color;
    strong {
      font-weight: 900;
    }
  }
}

.title-xlarge {font-size: $font-xlarge;}
.title-large {font-size: $font-large;}
.title-medium {font-size: $font-medium;}
.title-small {font-size: $font-small;}
.title-xsmall {font-size: $font-xsmall;}
.title-xxsmall {font-size: $font-xxsmall;}
/* title - end
================================================== */



/* back to top - start
================================================== */
.thetop {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.backtotop {
  right: 15px;
  width: 40px;
  bottom: 15px;
  height: 60px;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.2);
  .scroll {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 60px;
    text-align: center;
    position: relative;
    color: $white-color;
    font-size: $font-large;
    &:after,
    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      content: '';
      position: absolute;
      transition: $default-transition;
    }
    &:before {
      background: $gradient-default;
    }
    &:after {
      opacity: 0;
      background: $gradient-reverse;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
/* back to top - end
================================================== */



/* preloader - start
================================================== */
#preloader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  position: fixed;
  overflow: visible;
  background: #fff url('../images/preloader.gif') no-repeat center center;
}
/* preloader - end
================================================== */



/* plus hover effect - start
================================================== */
.plus-effect {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  background: linear-gradient(to bottom right, rgba(255, 62, 0, .8) , rgba(255, 190, 48, .8));
  &:before,
  &:after {
    top: 50%;
    left: 50%;
    content: '';
    border-radius: 6px;
    position: absolute;
    background: $white-color;
    transition: $default-transition;
    transform: translateX(-50%) translateY(-50%);
  }
  &:before {
    width: 4px;
    height: 50px;
  }
  &:after {
    height: 4px;
    width: 50px;
  }
}
/* plus hover effect - end
================================================== */



/* custom colorz - start
================================================== */
.default-color {color: $default-color;}
.yellow-color {color: $yellow-color;}
.orange-color {color: $orange-color;}
.black-color {color: $black-color;}
.white-color {color: $white-color;}
.gray-deep-color {color: $gray-deep-color;}
.gray-light-color {color: $gray-light-color;}

.bg-default {background-color: $default-color;}
.bg-yellow {background-color: $yellow-color;}
.bg-orange {background-color: $orange-color;}
.bg-black {background-color: $black-color;}
.bg-white {background-color: $white-color;}
.bg-gray-deep {background-color: $gray-deep-color;}
.bg-gray-light {background-color: $gray-light-color;}

.overlay-black {background: $overlay-black;}
.overlay-white {background: $overlay-white;}
/* custom colorz - end
================================================== */



/* transition - start
================================================== */
a,
button {
  transition: $default-transition;
}
/* transition - end
================================================== */
/* global area - end
==================================================================================================== */