/* ================================================== 
* Version: 1.0.0
* css code for responsive layout
================================================== */

/* ==================================================
* 1 - media screen and (max-width: 1199px)
* 2 - media screen and (max-width: 991px)
* 3 - media screen and (max-width: 767px)
* 4 - media screen and (max-width: 680px)
* 5 - media screen and (max-width: 480px)
* 6 - media screen and (max-width: 320px)
================================================== */





@media screen and (max-width: 1349px) {
	.event-gallery-section {
		.grid-item,
		.grid-sizer {
			width: 25%;
			max-height: 280px;
			overflow: hidden;
		}
		.grid-item {
			float: left;
			display: inline-block;
		}
		.grid-item--width2 {
			width: 50%;
			max-height: 280px;
		}
		.grid-item--height2 {
			width: 25%;
			max-height: 560px;
		}
	}
}





/*  ====================================================================================================
1 - media screen and (max-width: 1199px) - start
==================================================================================================== */

@media screen and (max-width: 1199px) {
	.upcomming-event-section .owl-theme .owl-nav .owl-prev {left: 5px;}
	.upcomming-event-section .owl-theme .owl-nav .owl-next {right: 5px;}
	.about-section .about-item-wrapper ul li .about-item .title {font-size: 14px;}
	.conference-section .tab-wrapper .tab-menu .tab-nav {padding: 0px 30px;}
	.special-offer-section .special-offer-content h2 {font-size: 30px;}
	.special-offer-section .event-makeing-btn .custom-btn {padding: 15px 30px;}
	.event-section .section-title .big-title {font-size: 36px;}
	.event-section .event-tab-menu .nav li {margin-right: 20px;}
	.event-section .event-tab-menu .nav li a {font-size: 16px;}
	.section-title .line-style {
		top: -15px;
		left: 0px;
	}
	.event-section .tab-content .event-item {padding: 10px;}
	.event-section .tab-content .event-item .event-image {
		width: 215px;
		margin-right: 15px;
	}
	.event-section .tab-content .event-item .event-content .event-title:after {left: -18px;}
	.event-gallery-section .grid-item .item-content {padding: 20px;}
	.event-expertise-section .event-expertise-carousel .item .expertise-item .content {
		z-index: 1;
		left: 15px;
		right: 15px;
		bottom: -30px;
		padding: 30px 15px;
	}
	.speaker-section .speaker-carousel .slider-for .item .speaker-image {padding: 0px;}
	.speaker-section .speaker-carousel .slider-for .item .speaker-image .speaker-name {display: none;}
	.section-title .big-title {font-size: 36px;}


	.main-carousel2 .item .slider-content .title-text,
	.main-carousel2 .item .slider-content .bold-text {font-size: 54px;}
	.main-carousel2 .slick-next {right: 6%;}
	.event-advertisement-section .right-content-wrapper .countdown-timer ul li {padding: 15px 15px;}
	.event-advertisement-section .right-content-wrapper .booking-btn {
		padding: 15px 25px;
		margin-right: 5px;
	}
	.event-advertisement-section .right-content-wrapper .details-btn {padding: 12px 25px;}
	.homepage2 .event-gallery-section .section-title .big-title {font-size: 30px;}
	.footer-section3 .footer-top .basic-info .basic-info-item .info-content h3 {
		margin: 0px;
		font-size: 16px;
	}
	.speaker-section .speaker-carousel .slider-nav .item .item-content {
		padding: 10px;
		padding-top: 45px;
	}
	.news-update-section .latest-blog-wrapper .latest-blog .blog-content .blog-title h3 {font-size: 16px;}
	.absolute-eventmake-section .eventmaking-wrapper {
		top: 0;
		left: 0;
		width: 90%;
		position: unset;
		box-shadow: none;
		transform: translateX(0%);
	}
	.absolute-eventmake-section .eventmaking-wrapper .tab-content .tab-pane ul li {
		margin: 0;
		width: 50%;
		border: 2px solid transparent;
	}
	.absolute-eventmake-section .eventmaking-wrapper .eventmake-tabs li a {background-color: transparent;}
	.about-section2 .services-list ul li a {padding: 50px 20px;}
	.about-section2 .services-list ul li a .icon {margin-right: 15px;}
	.upcomming-event-section2 .comming-event-item .event-content {padding-right: 0;}
	.upcomming-event-section2 .comming-event-item .event-image {padding: 0px;}
	.upcomming-event-section2 .comming-event-item .event-image .small-image {
		top: 70%;
		left: 30px;
	}
	.upcomming-event-section3 .comming-event-item .event-content {padding-right: 0px;}
	.upcomming-event-section3 .comming-event-item .event-image {padding: 0px;}
	.upcomming-event-section3 .comming-event-item .event-image .small-image {
		right: 15px;
		bottom: -50px;
		width: 150px;
		height: 180px;
	}
	.homepage4 .event-gallery-section .section-title .big-title {font-size: 30px;}
	.awesome-event-section .tab-content .awesome-event-item .event-content .event-title .title-text {font-size: 16px;}
	.awesome-event-section .tab-content .awesome-event-item .event-content {padding: 15px;}
	.awesome-event-section .tab-content .awesome-event-item .event-content .custom-btn {padding: 15px 25px;}
	.absolute-sponsor-section {
		padding: 50px 15px;
		ul {
			top: 0;
			left: 0;
			width: 100%;
			position: unset;
			transform: translateX(0%);
		}
	}

	.homepage4 .news-update-section .latest-blog-wrapper .latest-blog .blog-content .blog-title h3 {font-size: 14px;}
	.default-footer-section .footer-top .instagram-wrapper ul li {
		width: 100px;
		height: 100px;
	}
	.scrolltop-fixed-header-section .header-bottom .menu-item-list > ul > li > a {padding: 5px 12px;}


	.breadcrumb-section .breadcrumb-title {padding: 0px;}
	.service-section .service-wrapper > ul > li a .service-sub-title {font-size: 12px;}
	.booking-timeout-section .rightside-wrapper .clock-wrapper ul li {margin: 0px 2px;}
	.booking-section .booking-content-wrapper .reg-info .form-wrapper .expired-date-form ul li {margin-right: 2px;}
	.booking-section .booking-content-wrapper .billing-form .form-item-group ul li {margin-right: 2px;}

	.event-search-section .search-form ul li {margin-right: 2px;}
	.event-section .sidebar-section .spacial-event-wrapper .title-large {font-size: 18px;}
	.event-section .sidebar-section .spacial-event-wrapper .overlay-black {padding: 30px 15px;}
	.event-section .event-grid-item .event-image {height: auto;}

	.event-details-section .event-details .event-details-carousel .item {
		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.event-details-section .event-details .event-info-list ul li {margin-right: 2px;}
	.event-details-section .event-schedule .schedule-date-menu > li {margin-right: 2px;}
	.event-details-section .event-schedule .schedule-date-menu > li > a {padding: 15px 30px;}
	.event-details-section .event-schedule .tab-content .hotal-menu > li {margin-right: 2px;}
	.service-section .service-wrapper .service-item .service-content .service-type-list ul li {font-size: 12px;}

	.default-header-section .header-bottom .menu-item-list > ul > li > a {padding: 5px 12px;}
	.sticky-header-section .header-bottom .menu-item-list > ul > li > a {padding: 5px 10px;}
	.event-section .tab-content .event-item .event-content .tickets-details-btn {padding: 15px 30px;}
	.special-offer-section .event-makeing-btn a {padding: 15px 30px;}
	.scrolltop-fixed-header-section .header-bottom .menu-item-list > ul > li > a {padding: 5px 8px;}
	.awesome-event-section .tab-content .awesome-event-item .event-content .tickets-details-btn {padding: 15px 25px;}

	.error-section .icon {
		width: 300px;
		height: 300px;
		font-size: 180px;
		line-height: 300px;
	}
	.error-section .error-content h3 {font-size: 18px;}
	.our-management-section .owl-theme .owl-dots button {width: 86px;}
	.booking-timeout-section .rightside-wrapper .clock-wrapper ul li {
		width: 90px;
		margin: 5px;
	}
}

/* ====================================================================================================
1 - media screen and (max-width: 1199px) - end
==================================================================================================== */





/* ====================================================================================================
2 - media screen and (max-width: 991px) - start --->>>for medium device
==================================================================================================== */

@media screen and (max-width: 991px) {
	.header-section {display: none;}
	.header-altranative {display: block;}
	body {padding-top: 98px;}
	.slide-section .main-carousel1 .item .slider-item-content {
		padding: 100px;
		padding-bottom: 250px;
	}
	.upcomming-event-section .upcomming-event-carousel .item .event-item .event-content {right: 60px;}
	.about-section .about-item-wrapper {padding-left: 0px;}
	.conference-section .conference-location ul {
		float: none;
		margin: 0 auto;
	}
	.conference-section .tab-wrapper .tab-content {
		top: 0;
		right: 0;
		width: 100%;
		display: table;
		position: unset;
	}
	.conference-section .tab-wrapper .tab-menu {
		max-width: 460px;
		margin: 0 auto 30px;
	}
	.special-offer-section {text-align: center;}
	.special-offer-section .event-makeing-btn {
		padding: 0px;
		margin-top: 50px;
		text-align: center;
	}
	.section-title .line-style {
		left: 50%;
		transform: translateX(-50%);
	}
	.section-title {text-align: center!important;}
	.event-section .event-tab-menu .nav {
		float: none;
		margin: 0 auto;
	}
	.event-section .tab-content .event-item {
		padding: 15px;
		max-width: 570px;
		margin: 0  auto 30px;
	}
	.event-section .tab-content .event-item .event-image {
		width: 250px;
		height: 250px;
		margin-right: 30px;
	}
	.event-section .tab-content .event-item .event-content .event-title:after {left: -33px;}
	.event-gallery-section .grid-item, .event-gallery-section .grid-sizer {
		width: 50%;
		max-height: 280px;
	}
	.speaker-section .speaker-carousel .slider-for .item .speaker-content {
		text-align: center;
	}
	.speaker-section .speaker-carousel .slider-for .item .speaker-image {
		display: table;
		margin: 0 auto;
	}
	.speaker-section .speaker-carousel .slider-nav {
		width: 100%;
		position: unset;
		padding-bottom: 30px;
	}
	.speaker-section .speaker-carousel .slider-for .item .speaker-content .speaker-info .speaker-social-network ul {margin: 0 auto;}
	.advertisement-section .advertisement-content {padding: 0px;}
	.partners-clients-section .section-title {padding: 0px;}
	.partners-clients-section .partners-wrapper {margin-bottom: 30px;}
	.news-update-section .faq-accordion {
		margin: 0 auto;
		display: table;
		max-width: 570px;
		margin-bottom: 80px;
	}
	.news-update-section .latest-blog-wrapper .latest-blog {
		display: table;
		max-width: 570px;
		margin: 0 auto 30px;
	}
	.footer-section {

		.footer-top {
			.about-wrapper,
			.usefullinks-wrapper {
				width: 100%;
				padding: 0px;
				display: table;
				margin-bottom: 30px;
			}
		}

		.footer-bottom {
			.copyright-text {
				text-align: center;
				margin-bottom: 15px;
			}
			.footer-menu ul {
				float: none;
				margin: 0 auto;
			}
		}
	}



	.main-carousel2 .item .overlay-black {padding: 100px 0px;}
	.main-carousel2 .slick-prev,
	.main-carousel2 .item .reg-form {
		max-width: 360px;
		margin: 0 auto 30px;
	}
	.main-carousel2 .item .slider-content {
		padding: 0px;
		margin: 0 auto;
		max-width: 460px;
		text-align: center;
	}
	.main-carousel2 .slick-next,
	.main-carousel2 .slick-prev {
		top: 50%;
		transform: translateY(-50%);
	}
	.main-carousel2 .slick-prev {left: 2%;}
	.main-carousel2 .slick-next {right: 2%;}
	.countdown-timer {
		ul {
			display: table;
			margin: 0 auto;
		}
	}
	.main-carousel2 .item .slider-content .title-text, .main-carousel2 .item .slider-content .bold-text {font-size: 48px;}
	.event-advertisement-section {
		.event-item {
			width: 100%;
			display: table;
			margin-bottom: 30px;
		}
		.right-content-wrapper {
			margin: 0 auto;
			max-width: 460px;
			.countdown-timer {
				ul {
					float: none;
					display: table;
					margin: 0 auto;
				}
			}
			.text-right {
				text-align: center!important;
			}
		}
	}
	.testimonial5-section .item {padding: 0px 100px;}
	.footer-section3 .footer-top .about-wrapper {
		width: auto;
		display: table;
		margin: 0 auto;
		max-width: 360px;
		margin-bottom: 30px;
	}
	.footer-section3 .footer-top .basic-info .basic-info-item {margin-bottom: 30px;}

	.default-header-p {padding-top: 98px;}
	.absolute-eventmake-section {padding: 50px 0px;}
	.absolute-eventmake-section .eventmaking-wrapper {
		width: 100%;
		padding: 0px 15px;
	}
	.absolute-eventmake-section .eventmaking-wrapper .tab-content .top-event-location .title-text {
		float: none;
		margin: 0px;
		margin-bottom: 15px;
	}
	.about-section2 .section-pragraph {
		margin-bottom: 45px;
		text-align: center!important;
	}
	.about-section2 .services-list ul li {width: 50%;}
	.upcomming-event-section2 .comming-event-item .event-image {
		width: 100%;
		position: unset;
		padding: 0px 15px;
		position: relative;
	}
	.upcomming-event-section2 .comming-event-item .event-image .small-image {top: 72%;}
	.upcomming-event-section2 .comming-event-item .event-content {
		padding-right: 0;
		margin-bottom: 30px;
	}
	.homepage3 .event-expertise-section .link-btn {
		padding: 0px;
		margin-bottom: 50px;
		text-align: center!important;
	}
	.default-sponsor-section ul li {
		width: 50%;
		height: auto;
		border: 1px solid transparent;
	}
	.default-footer-section .footer-top .basic-info .basic-info-item {margin-bottom: 30px;}
	.register-modal .leftside-content, .register-modal .rightside-content {height: auto;}
	.reglog-modal-wrapper .leftside-content {display: none;}
	.reglog-modal-wrapper .rightside-content {
		float: none;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 50px 30px;
	}
	.reglog-modal-wrapper .rightside-content .or-text span:after,
	.reglog-modal-wrapper .rightside-content .or-text span:before {display: none;}
	.reglog-modal-wrapper {
		margin: 0 auto;
		max-width: 460px;
		border-radius: 3px;
	}
	.upcomming-event-section3 .comming-event-item .event-image {margin-bottom: 80px;}
	.awesome-event-section .tab-content .featured-event {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 60px;
	}
	.awesome-event-section {
		.event-content-wrapper {
			.tab-content {
				.awesome-event-item {
					.image-wrapper {
						img {
							width: 100%;
							height: 100%;
							display: block;
						}
					}
					.event-content {
						padding: 30px;
					}
				}
			}
		}
	}
	.homepage4 .absolute-sponsor-section ul {
		top: 0;
		width: 100%;
		display: table;
	}
	.absolute-sponsor-section ul {
		width: 100%;
		display: table;
	}
	.absolute-sponsor-section ul li {
		width: 50%;
		height: auto;
		text-align: center;
	}
	.default-footer-section .footer-top .instagram-wrapper ul li {
		width: 110px;
		height: 100px
	}
	.award-section .company-age {margin-bottom: 30px;}
	.service-section .team-btn {
		padding: 0px;
		margin-bottom: 30px;
		text-align: center!important;
	}
	.service-section .service-wrapper > ul > li {width: 50%;}


	.booking-timeout-section .rightside-wrapper .clock-wrapper {
		width: 100%;
		margin: 0px;
		display: table;
		margin-top: 30px;
	}
	.booking-timeout-section .rightside-wrapper .clock-wrapper ul {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.booking-timeout-section .rightside-wrapper .clock-wrapper ul li {margin: 0px 10px;}
	.sidebar-section {
		max-width: 370px;
		margin: 0 auto;
	}
	.event-search-section {
		.section-title {margin-bottom: 50px;}
	}
	.event-section .sidebar-section .spacial-event-wrapper {margin-bottom: 50px;}
	.event-section .sidebar-section .spacial-event-wrapper .overlay-black {padding: 50px 30px;}
	.event-details-section .event-details .event-info-list ul li .event-content .event-date {font-size: 14px;}
	.event-details-section .comment-form .section-title .rateing-star-wrapper {
		right: 0;
		bottom: 0;
		display: table;
		position: unset;
		text-align: center;
		margin: 30px auto;
	}
	.event-details-section .comment-form .form-wrapper {
		text-align: center;
		margin-bottom: 50px;
	}
	.faq-section {
		.section-title {
			.big-title {margin-bottom: 30px;}
			.text-right {
				text-align: center!important;
			}
		}
		.faq-content-wrapper {
			overflow-x: scroll;
			.faq-accordion,
			.faq-accordion2,
			.faq-accordion3,
			.faq-accordion4 {
				max-width: 570px;
				margin: 0 auto 50px;
			}
		}
	}

	.service-section .service-wrapper .service-item {
		border-radius: 3px;
		background-color: #f7f7f7;
		.service-image {
			width: 100%;
			padding-right: 0px;
			padding-bottom: 30px;
			.big-image {
				img {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			.small-image {right: 30px;}
		}
		.service-content {
			width: 100%;
			padding: 30px 30px;
		}
	}

	.blog-section .blog-wrapper .tab-content {margin-bottom: 80px;}
	.our-management-section .owl-theme .owl-dots button {width: 56px;}
}

/* ====================================================================================================
2 - media screen and (max-width: 991px) - end --->>>for medium device
==================================================================================================== */





/* ====================================================================================================
3 - media screen and (max-width: 767px) - start --->>>For Mobile Device
==================================================================================================== */

@media screen and (max-width: 767px){}

/* ====================================================================================================
3 - media screen and (max-width: 767px) - end --->>>For Mobile Device
==================================================================================================== */





/* ====================================================================================================
4 - media screen and (max-width: 680px) - start
==================================================================================================== */

@media screen and (max-width: 680px){}

/* ====================================================================================================
4 - media screen and (max-width: 680px) - end
==================================================================================================== */





/* ====================================================================================================
5 - media screen and (max-width: 480px) - start
==================================================================================================== */

@media screen and (max-width: 480px){
	.sec-ptb-100 {
		padding: 50px 0px;
	}
	.slide-section .main-carousel1 .item .slider-item-content {
		padding: 100px 0px;
		padding-bottom: 250px;
	}
	.slide-section .main-carousel1 .item .slider-item-content .medium-text {font-size: 30px;}
	.slide-section .main-carousel1 .item .slider-item-content .big-text {font-size: 30px;}
	.slide-section .main-carousel1 .item .slider-item-content .small-text {letter-spacing: 2px;}
	.section-title .big-title {font-size: 24px;}
	.section-title .sub-title {
		font-size: 16px;
		letter-spacing: 2px;
	}
	.countdown-timer ul li {margin: 0px 1px;}
	.upcomming-event-section .upcomming-event-carousel .item .event-item .event-image {height: auto;}
	.upcomming-event-section .upcomming-event-carousel .item .event-item .event-content {
		left: 0px;
		right: 0px;
		padding: 30px;
		max-width: 100%;
		position: unset;
		box-shadow: none;
		background-color: $gray-light-color;
	}
	.upcomming-event-section .upcomming-event-carousel .item .event-item {margin-bottom: 30px;}
	.about-section .about-item-wrapper ul li {
		width: 100%;
		height: auto;
	}
	.about-section .about-item-wrapper ul li .about-item .title {font-size: 18px;}
	.conference-section .conference-location ul li {
		margin: 0px;
		width: 100%;
		text-align: center;
	}
	.conference-section .tab-wrapper .tab-menu .tab-nav {padding: 0px;}
	.tab-nav::-webkit-scrollbar {
		display: none;
	}
	.conference-section .tab-wrapper .tab-menu .more-btn {padding: 0px;}
	.special-offer-section .special-offer-content h2 {font-size: 24px;}
	.special-offer-section .special-offer-content h2 strong {font-size: 48px;}
	.event-section .tab-content .event-item .event-image {
		width: 100%;
		height: auto;
		margin: 0px;
	}
	.event-gallery-section .grid-item,
	.event-gallery-section .grid-sizer {
		width: 100%;
		max-height: 280px;
	}
	.speaker-section .speaker-carousel .slider-for .item .speaker-content .speaker-info {padding: 0px;}
	.advertisement-section {
		.advertisement-content {
			.title-large {font-size: 24px;}
		}
	}
	.partners-clients-section .partners-wrapper .partners-carousel .item ul li {
		width: 100%;
		height: auto;
	}
	.event-section .event-tab-menu .nav li {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.event-section .tab-content .event-item .event-image {
		width: 100%;
		height: auto;
		margin: 0px;
		margin-bottom: 15px;
	}
	.event-section .tab-content .event-item .event-content {
		width: 100%;
		display: table;
		padding: 0px 15px;
	}
	.news-update-section .overlay-black.sec-ptb-100 {overflow-x: scroll;}
	.news-update-section .latest-blog-wrapper .latest-blog .blog-image {
		float: none;
		margin: 0 auto 30px;
	}
	.news-update-section .latest-blog-wrapper .latest-blog .blog-content {
		width: 100%;
		display: table;
		padding: 0px 30px;
		text-align: center;
	}
	.map-section .address-wrapper {display: none;}
	.footer-section2 .footer-bottom .footer-menu ul li {
		margin: 0;
		width: 50%;
		text-align: center;
	}


	.main-carousel2 .item .slider-content .date {letter-spacing: 1px;}
	.main-carousel2 .item .slider-content .bold-text,
	.main-carousel2 .item .slider-content .title-text {font-size: 36px;}
	.event-advertisement-section .event-item .event-image {
		float: none;
		margin: 0px;
		width: 100%;
		height: auto;
		margin-bottom: 30px;
	}
	.event-advertisement-section .event-item .event-content {
		padding: 0px;
		display: table;
	}
	.event-advertisement-section .event-item .event-content .event-title .title-text {font-size: 18px;}
	.event-advertisement-section .event-item .event-content .event-title .tag {font-weight: 400;}
	.event-advertisement-section .right-content-wrapper .countdown-timer ul li {
		height: auto;
		padding: 8px 8px;
		min-width: 60px;
	}
	.event-advertisement-section .right-content-wrapper .booking-btn {margin: 10px 0px}
	.testimonial5-section .item {padding: 0px;}
	.special-offer-section .special-offer-content h2 strong {font-size: 30px;}
	.default-sponsor-section ul li {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
	.footer-section3 .footer-bottom .footer-menu ul li {
		width: 50%;
		margin: 0px;
		text-align: center;
	}
	.countdown-timer ul li {padding: 10px 5px;}
	.homepage3 .main-carousel2 .item .slider-content .custom-btn {margin: 10px 0px;}
	.absolute-eventmake-section .eventmaking-wrapper .eventmake-tabs li {
		width: 100%;
		margin: 0px;
		text-align: center;
	}
	.absolute-eventmake-section .eventmaking-wrapper .tab-content .tab-pane ul li {width: 100%;}
	.about-section2 .services-list ul li {width: 100%;}
	.upcomming-event-section2 .comming-event-item .event-content {
		padding-right: 0;
		margin-bottom: 30px;
		.text-left {
			a {margin: 5px 0px;}
		}
	}
	.upcomming-event-section2 .comming-event-item .event-image .small-image {
		width: 80px;
		height: 80px;
	}
	.default-footer-section .footer-top .basic-info .basic-info-item .info-content h3 {
		margin: 0px;
		font-size: 16px;
	}
	.default-footer-section .footer-bottom .footer-menu ul li {
		width: 50%;
		margin: 0px;
		text-align: center;
	}
	.about-section2 .services-list ul li a .icon {
		width: 50px;
		height: 50px;
		border: none;
		font-size: 24px;
		border-radius: 3px;
		i {
			font-size: 24px;
			line-height: 50px;
		}
	}
	.about-section2 .services-list ul li a .title-text {
		margin: 0px;
		font-size: 16px;
	}
	.about-section2 .services-list ul li a .icon:after,
	.about-section2 .services-list ul li a .icon:before {display: none;}

	.our-management-section .management-item {margin-bottom: 30px;}
	.our-management-section .management-item .item-title {margin-bottom: 15px;}
	.our-management-section .owl-theme .owl-dots {width: 100%;}
	.our-management-section .owl-theme .owl-dots button {width: 7.7%;}
	.upcomming-event-section3 .section-title {padding: 0px;}
	.upcomming-event-section3 .comming-event-item .event-content {
		.custom-btn {margin: 10px 0px;}
	}
	.awesome-event-section .awesome-event-menu ul li {
		width: 100%;
		margin: 0px;
		margin-bottom: 20px;
	}
	.awesome-event-section .tab-content .featured-event .event-content {
		right: 0px;
		bottom: 0px;
		padding: 30px;
		max-width: 100%;
		position: unset;
		box-shadow: none;
	}
	.awesome-event-section .tab-content .featured-event {
		margin-bottom: 30px;
		padding-bottom: 0px;
	}
	.awesome-event-section .event-content-wrapper .tab-content .awesome-event-item {margin-bottom: 30px;}
	.absolute-sponsor-section ul li {
		width: 100%;
		border: none;
		border-bottom: 1px solid #f0f0f0;
	}

	.breadcrumb-section .breadcrumb-title .sub-title {
		font-size: 16px;
		letter-spacing: 1px;
	}
	.breadcrumb-section .breadcrumb-title .big-title {font-size: 30px;}
	.award-section .company-age .banner-img {box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);}
	.award-section .company-age {
		height: auto;
		padding: 30px;
	}
	.award-section .company-age .banner-img {
		top: 0%;
		left: 0%;
		width: 100%;
		height: auto;
		position: unset;
		transform: translate(0%, 0%);
	}
	.award-section .awaed-item-area .awaed-wrapper .awaed-item .awaed-content .awaed-title {font-size: 18px;}
	.service-section .service-wrapper > ul > li {width: 100%;}
	.absolute-sponsor-section ul {
		width: 100%;
		display: table;
	}
	.award-section .awaed-item-area .awaed-wrapper .awaed-item .awaed-content .awaed-title {font-size: 14px;}
	.absolute-sponsor-section ul li a {padding: 0px 30px;}


	.booking-timeout-section {
		.leftside-wrapper {
			>h3 {font-size: 18px;}
		}
		.rightside-wrapper .clock-wrapper ul li {
			margin: 0px 5px;
		}
	}
	.booking-section .booking-content-wrapper {overflow-x: scroll;}
	.booking-section .booking-content-wrapper .order-summary-table {
		padding: 15px;
		max-width: 770px;
	}
	.booking-section .section-title .big-title {font-size: 24px;}
	.booking-section .booking-content-wrapper .reg-info .form-title {font-size: 18px;}
	.booking-section .booking-content-wrapper .reg-info .form-wrapper .expired-date-form ul li {width: 100%;}
	.booking-section .booking-content-wrapper .billing-form .form-item-group ul li {width: 100%;}

	.event-search-section .search-form ul li {
		margin: 0px;
		width: 100%;
		margin-bottom: 30px;
		&:last-child {margin-bottom: 0px;}
		.submit-btn {margin-top: 0px;}
	}
	.event-section .search-result-form {padding: 0px;}
	.event-section .search-result-form .event-layout-btngroup {
		display: table;
		position: unset;
		margin: 30px auto 0px;
	}
	.event-section .event-list-item .event-image {
		float: none;
		width: 100%;
		height: auto;
		margin-right: 0;
	}
	.event-section .event-list-item .event-content .event-title:after {left: -15px;}
	.event-details-section .event-details .event-title .event-title {font-size: 24px;}
	.event-details-section .event-details .event-details-carousel .item {height: auto;}
	.event-details-section .event-details .event-info-list ul li {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.event-details-section .event-schedule .schedule-date-menu > li,
	.event-details-section .event-schedule .tab-content .hotal-menu > li {
		width: 100%;
		margin-right: 0px;
	}
	.event-details-section .event-schedule .tab-content .tab-content .tab-pane .hall-item .hall-image {
		width: 100%;
		float: none;
		height: auto;
		margin-bottom: 30px;
		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.event-details-section .event-schedule .tab-content .tab-content .tab-pane .hall-item .hall-content {
		width: 100%;
		padding: 0px;
		.event-title {font-size: 24px;}
	}
	.event-details-section .event-schedule .tab-content .tab-content .tab-pane .hall-item .hall-content .event-info-list ul li {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.event-details-section .event-pricing-plan .pricing-list ul .pricing-table {
		width: 100%;
		margin-bottom: 30px;
	}
	.event-details-section .event-pricing-plan .pricing-list ul .popular-pricing-table {transform: scale(1);}
	.event-details-section .register-wrapper {
		overflow-x: scroll;
		.register-table ul {
			width: 770px;
		}
	}
	.event-details-section .reviewer-comment-wrapper .comment-bar .comment-content .meta-wrapper .btn-group-left {margin-bottom: 15px;}
	.sidebar-section .spacial-event-wrapper .overlay-black {padding: 60px 30px;}
	.faq-section .faq-content-wrapper .faq-accordion .card .card-header .btn:after {display: none;}
	.service-section .service-wrapper .service-item .service-image .small-image {width: 150px;}
	.service-section .service-wrapper .service-item .service-content .service-title .title-text {font-size: 24px;}
	.service-section .service-wrapper .service-item .service-content .service-type-list ul li {
		width: 100%;
		padding-right: 0px;
	}
	.service-section .service-wrapper .service-item .service-content .custom-btn {margin-bottom: 10px;}
	.blog-section .layout-btn-group h3 {display: none;}
	.blog-section .blog-layout-menubar {
		display: table;
		margin: 0 auto;
		float: none!important;
	}

	.blog-section .blog-list-item .blog-image,
	.blog-section .blog-list-item .blog-content {
		width: 100%;
		float: none!important;
	}
	.blog-section .blog-list-item .blog-content {
		padding: 0px;
		padding-top: 30px;
		text-align: left!important;
	}
	.error-section .error-content {text-align: center;}
}

/* ====================================================================================================
5 - media screen and (max-width: 480px) - end
==================================================================================================== */





@media screen and (max-width: 360px){
	.news-update-section {
		overflow-x: scroll;
	}
}





/* ====================================================================================================
6 - media screen and (max-width: 320px) - start
==================================================================================================== */

@media screen and (max-width: 320px){
	.countdown-timer ul li {
		height: 65px;
		min-width: 65px;
		padding: 10px 5px;
		border-radius: 10px;
		display: inline-block;
	}
	.countdown-timer ul li strong {
		font-size: 24px;
		font-weight: 700;
	}
	.countdown-timer ul li small {font-size: 12px;}
	.conference-section .tab-wrapper .tab-menu .tab-nav .nav-item .nav-link {padding: 8px;}
	.conference-section .tab-wrapper .tab-menu .tab-nav .nav-item .nav-link .image {
		width: 65px;
		height: 65px;
		margin-right: 8px;
	}
	.conference-section .tab-wrapper .tab-menu .tab-nav .nav-item .nav-link .title {font-size: 16px;}
	.custom-btn {padding: 12px 25px;}
	.special-offer-section .special-offer-content h2 {font-size: 18px;}
	.special-offer-section .special-offer-content h2 strong {font-size: 24px;}


	.main-carousel2 .item .slider-content .bold-text, .main-carousel2 .item .slider-content .title-text {font-size: 24px;}
	.event-section .tab-content .event-item2 .event-content .event-title .title {font-size: 18px;}
	.footer-section3 .footer-top .basic-info .basic-info-item .info-content h3 {font-size: 14px;}
	.about-section2 .services-list ul li a .icon {margin-right: 5px;}
	.default-footer-section .footer-top .basic-info .basic-info-item .info-content h3 {font-size: 14px;}
	.our-management-section .owl-theme .owl-dots button {width: 7.6%;}
	.map-section .find-event-form {left: 0px;}
	.homepage4 .event-gallery-section .section-title .big-title {font-size: 24px;}

	.booking-timeout-section .rightside-wrapper .clock-wrapper ul li {
		width: 100%;
		margin: 15px 0px;
	}
	.booking-timeout-section .rightside-wrapper .clock-wrapper ul li small {padding: 12px 10px;}
	.booking-section .ticket-buying-form {margin-bottom: 30px;}
	.sidebar-section .location-wrapper .contact-links ul li a {font-size: 14px;}
	.event-section .event-list-item .event-content .event-title .title {font-size: 18px;}
	.event-section .event-grid-item .event-content .event-title .title {font-size: 18px;}

	.event-details-section .event-schedule .tab-content .tab-content .tab-pane .hall-item .hall-content .event-title {font-size: 18px;}
	.event-details-section .reviewer-comment-wrapper .comment-bar .comment-content .meta-wrapper .btn-group-left .title {
		float: none;
		width: 100%;
		margin: 0px;
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.event-details-section .reviewer-comment-wrapper .comment-bar .comment-content .meta-wrapper .btn-group-left ul {margin: 0px 0px;}
	.event-details-section .reviewer-comment-wrapper .comment-bar .comment-content .meta-wrapper .btn-group-right ul {
		float: none;
		width: 100%;
		li {
			width: 100%;
			display: block;
			margin-bottom: 5px;
		}
	}
	.event-details-section .section-title .big-title {font-size: 30px;}
	.event-details-section .comment-form .section-title .rateing-star-wrapper .rating-title {
		width: 100%;
		margin-bottom: 15px;
	}
	.event-details-section .comment-form .section-title .rateing-star-wrapper .rateing-star-form {
		display: table;
		margin: 0 auto;
		float: none!important;
	}
	.sidebar-section .faq-wrapper .faq-accordion .card .card-header .btn {padding: 15px 15px;}
	.sidebar-section .faq-wrapper .faq-accordion .card .card-header .btn:after {right: 15px;}
	.breadcrumb-section .breadcrumb-list ul .breadcrumb-item {
		margin-right: 15px;
		padding-right: 15px;
	}
	.service-section .service-wrapper .service-item .service-image .small-image {width: 100px;}
	.service-section .service-wrapper .service-item .service-content .service-title .title-text {font-size: 18px;}
	.service-section .service-wrapper .service-item .service-content {padding: 25px 15px;}

	.error-section .icon {
		width: 250px;
		height: 250px;
		font-size: 150px;
		line-height: 250px;
	}
	.event-section .tab-content .event-item2 .event-content .tickets-details-btn {padding: 15px 30px;}
}

/* ====================================================================================================
6 - media screen and (max-width: 320px) - end
==================================================================================================== */