/* service page - start
==================================================================================================== */
.service-section {
	.service-wrapper {
		.service-item {
			margin-bottom: 50px;
			&:last-child {margin-bottom: 0px;}

			// service-image - start
			.service-image {
				width: 48%;
				position: relative;
				padding-right: 70px;
				padding-bottom: 70px;
				.big-image {
					overflow: hidden;
					border-radius: 3px;
					box-shadow: 0px 0px 60px 3px rgba(0,0,0,0.2);
				}
				.small-image {
					z-index: 1;
					right: 0px;
					bottom: 0px;
					overflow: hidden;
					border-radius: 3px;
					position: absolute;
					box-shadow: 0px 0px 60px 3px rgba(0,0,0,0.2);
				}
			}
			// service-image - end

			// service-content - start
			.service-content {
				width: 52%;
				padding: 30px 30px;
				.service-title {
					padding-bottom: 30px;
					border-bottom: 1px solid $gray-deep-color;
					.title-text {
						font-weight: 400;
						font-size: $font-large;
						strong {font-weight: 900;}
					}
					.service-price {
						font-weight: 900;
						color: $yellow-color;
					}
				}

				.service-type-list {
					ul {
						width: 100%;
						margin: 0px;
						padding: 0px;
						display: table;
						li {
							width: 50%;
							float: left;
							list-style: none;
							font-weight: 700;
							margin-bottom: 5px;
							padding-right: 15px;
							color: $black-color;
							display: inline-block;
							font-size: $font-xxsmall;
							text-transform: uppercase;
							.icon {
								width: 30px;
								height: 30px;
								line-height: 30px;
								margin-right: 5px;
								text-align: center;
								color: $white-color;
								border-radius: 100%;
								font-size: $font-xxsmall;
								background-color: $yellow-color;
							}
						}
					}
				}

				.custom-btn {box-shadow: none;}
				.conference-btn {
					font-weight: 700;
					padding: 12px 35px;
					border-radius: 30px;
					color: $yellow-color;
					font-size: $font-xxsmall;
					text-transform: uppercase;
					background-color: $white-color;
					border: 3px solid $yellow-color;
					&:hover {
						color: $white-color;
						background-color: $yellow-color;
					}
				}
			}
			// service-content - end
		}
	}
}
/* service page - end
==================================================================================================== */