/* sidebar section - start
==================================================================================================== */
.sidebar-section {

	.section-title {
		.big-title {font-size: $font-large;}
	}

		.tickets-details-btn {
			padding: 4px 15px !important;
		}
	// map-wrapper - satrt
	.map-wrapper {
		#google-map {
			width: 100%;
			height: 300px;
		}
	}
	// map-wrapper - end



	// location-wrapper - start
	.location-wrapper {
		border-radius: 3px;
		background-color: $gray-light-color;
		.title-wrapper {
			padding: 30px;
			position: relative;
			border-bottom: 1px solid $gray-deep-color;
			.up-arrow-icon {
				top: 50%;
				right: 30px;
				position: absolute;
				color: $default-color;
				font-size: $font-small;
				transform: translateY(-50%);
			}
			.icon {
				float: left;
				width: 50px;
				height: 50px;
				line-height: 50px;
				margin-right: 15px;
				text-align: center;
				color: $white-color;
				border-radius: 100%;
				font-size: $font-small;
				background-color: $yellow-color;
			}
			.title-content {
				display: table;
				small {
					font-weight: 600;
					font-size: $font-xxsmall;
				}
				h3 {
					font-weight: 900;
					font-size: $font-small;
					text-transform: uppercase;
				}
			}
		}
		.location-info-list {
			padding: 30px;
			.area-name {
				font-weight: 700;
				padding: 10px 30px;
				border-radius: 3px;
				text-align: center;
				color: $yellow-color;
				text-transform: capitalize;
				background-color: $white-color;
			}
			ul {
				width: 100%;
				display: table;
				margin-top: 30px;
				li {
					margin-bottom: 5px;
					color: $black-color;
					font-size: $font-xxsmall;
					&:last-child {margin-bottom: 0px;}
					i {color: $yellow-color;}
				}
			}
		}
		.button {
			padding: 30px;
			padding-top: 0px;
			border-bottom: 1px solid $gray-deep-color;
		}
		.custom-btn {box-shadow: none;}

		.contact-links {
			padding: 30px;
			ul {
				width: 100%;
				display: table;
				margin-bottom: 30px;
				li {
					margin-bottom: 5px;
					&:last-child {margin-bottom: 0px;}
					a {
						font-weight: 700;
						color: $black-color;
						.icon {
							width: 40px;
							height: 40px;
							line-height: 40px;
							margin-right: 5px;
							text-align: center;
							border-radius: 100%;
							color: $white-color;
							background-color: $yellow-color;
						}
					}
				}
			}
		}
	}
	// location-wrapper - end



	// faq-wrapper - satrt
	.faq-wrapper {
		.faq-accordion {
			.card {
				border: none;
				text-align: left;
				margin-bottom: 5px;
				border-radius: 3px;
				.card-header {
					margin: 0px;
					padding: 0px;
					border: none;
					background: none;
					.btn {
						margin: 0px;
						width: 100%;
						height: 100%;
						display: block;
						text-align: left;
						font-weight: 700;
						border-radius: 3px;
						padding: 15px 30px;
						position: relative;
						color: $black-color;
						font-size: $font-small;
						background-color: $gray-light-color;
						&:after {
							top: 50%;
							right: 30px;
							content: '\f0aa';
							font-weight: 900;
							position: absolute;
							color: $default-color;
							transition: $default-transition;
							font-family: 'Font Awesome 5 Free';
							transform: translateY(-50%);
						}
						&:not(.collapsed) {
							color: $yellow-color;
							background-color: $white-color;
							box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
							&:after {
								content: '\f0ab';
								color: $yellow-color;
							}
						}
						&:hover {
							color: $yellow-color;
							text-decoration: none;
							&:after {
								color: $yellow-color;
							}
						}
					}
				}
				.card-body {
					padding: 20px;
				}
			}
		}
	}
	// faq-wrapper - end



	// spacial-event-wrapper - satrt
	.spacial-event-wrapper {
		overflow: hidden;
		border-radius: 3px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		.overlay-black {padding: 80px 50px;}
	}
	// spacial-event-wrapper - end
}
/* sidebar section - end
==================================================================================================== */