/* index - 1 main-carousel1 - start
==================================================================================================== */
.slide-section {

	.main-carousel1 {
		.item {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			.slider-item-content {
				z-index: 1;
				text-align: center;
				padding: 200px 200px;
				padding-bottom: 300px;

				.medium-text {
					font-size: 60px;
					font-weight: 400;
					text-transform: capitalize;
					color: rgba(255,255,255,0.8);
				}

				.big-text {
					font-size: 72px;
					font-weight: 900;
					color: $white-color;
				}

				.small-text {
					color: $white-color;
					letter-spacing: 6px;
					text-transform: uppercase;
				}

				.link-groups {
					margin-top: 50px;
					text-align: center;
					a {
						margin: 5px;
						box-shadow: none;
					}
					.start-btn {
						font-weight: 700;
						padding: 12px 30px;
						color: $white-color;
						border-radius: 30px;
						font-size: $font-xxsmall;
						text-transform: uppercase;
						border: 3px solid $yellow-color;
						&:hover {
							color: $white-color;
							background-color: $yellow-color;
						}
					}
				}
			}
		}
	}

	// owl nav & dot settinge - start
	.owl-theme {
		.owl-dots {
			left: 50%;
			margin: 0px;
			bottom: 100px;
			display: table;
			padding: 0px 15px;
			position: absolute;
			transform: translateX(-50%);
			border-bottom: 1px solid $white-color;
			.owl-dot {
				float: left;
				min-width: 50px;
				min-height: 50px;
				font-weight: 700;
				line-height: 50px;
				text-align: center;
				position: relative;
				color: $white-color;
				display: inline-block;
				font-size: $font-small;
				transition: $default-transition;
				text-shadow: 0 0 5px rgba(0,0,0,0.2);
				&:after {
					left: 0;
					right: 0;
					opacity: 0;
					z-index: 1;
					content: '';
					height: 3px;
					bottom: -2px;
					position: absolute;
					transform: scaleX(.6);
					transition: $default-transition;
					background-color: $yellow-color;
				}
				&:hover {}
			}
			.owl-dot.active {
				font-size: $font-large;
				&:after {
					opacity: 1;
					transform: scaleX(1);
				}
			}

		}


		.owl-nav {
			.owl-next,
			.owl-prev {
				top: 50%;
				opacity: .1;
				width: 50px;
				height: 50px;
				margin: 0px;
				padding: 0px;
				overflow: hidden;
				text-align: center;
				color: transparent;
				position: absolute;
				border-radius: 100%;
				background: transparent;
				transform: translateY(-50%);
				span {
					margin: 0px;
					padding: 0px;
					color: transparent;
					background: transparent;
				}
				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					font-weight: 900;
					line-height: 50px;
					position: absolute;
					color: $black-color;
					font-size: $font-medium;
					background: $white-color;
					font-family: 'Font Awesome 5 Free';
				}
				&:hover {
					opacity: .8;
				}
			}
			.owl-prev {
				left: 7%;
				&:before {content: '\f060';}
			}
			.owl-next {
				right: 7%;
				&:before {content: '\f061';}
			}
		}
	}
	// owl nav & dot settinge - end
}
/* index - 1 main-carousel1 - end
==================================================================================================== */





/* index - 2 - start
==================================================================================================== */
.main-carousel2 {
	.item {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		.overlay-black {padding: 200px 0px;}

		// reg-form - satrt
		.reg-form {
			padding: 30px;
			text-align: center;
			border-radius: 3px;
			background-color: rgba(0,0,0,0.6);

			.from-title {
				margin-bottom: 30px;
				.title-text {
					margin: 0px;
					font-weight: 400;
					color: $white-color;
					font-size: $font-large;
					text-transform: uppercase;
					strong {font-weight: 900;}
				}
				.sub-title {
					font-weight: 700;
					color: $yellow-color;
					text-transform: capitalize;
				}
			}

			.form-wrapper {
				.form-item {
					margin-bottom: 10px;
					&:last-child {margin-bottom: 0px;}
					input,
					select {
						width: 100%;
						height: 100%;
						display: block;
						padding: 0px 20px;
						border-radius: 2px;
						color: $white-color;
						border: 1px solid $black-color;
						background-color: $black-color;
						&:focus {
							outline: none;
							border-color: $yellow-color;
						}
					}

					select {
						-webkit-appearance: none;
						background: $black-color url(../images/down-arrow.png) no-repeat right 20px center;
					}
				}
			}

			.submit-btn {
				font-weight: 700;
				color: $yellow-color;
				font-size: $font-small;
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}

		}
		// reg-form - end

		// slider-content - start
		.slider-content {
			padding: 0px 70px;

			// countdown-timer - start
			.countdown-timer {
				ul {
					li {
						color: $white-color;
						border-color: $white-color;
					}
				}
			}
				// countdown-timer - end

			.date {
				width: 100%;
				display: table;
				font-weight: 700;
				color: $white-color;
				margin-bottom: 15px;
				letter-spacing: 10px;
				text-transform: uppercase;
			}
			.title-text {
				font-size: 66px;
				font-weight: 400;
				color: $white-color;
			}
			.bold-text {
				width: 100%;
				display: table;
				font-size: 66px;
				font-weight: 900;
				margin-bottom: 50px;
				color: $yellow-color;
				font-family: $heading-font;
			}
			.details-btn {
				font-weight: 700;
				padding: 12px 35px;
				text-align: center;
				color: $white-color;
				border-radius: 30px;
				font-size: $font-xxsmall;
				text-transform: uppercase;
				border: 3px solid $yellow-color;
				&:hover {
					background-color: $yellow-color;
				}
			}
		}
		// slider-content - end
	}

	.slick-prev,
	.slick-next {
		z-index: 1;
		opacity: .3;
		width: 40px;
		height: 40px;
		overflow: hidden;
		position: absolute;
		border-radius: 100%;
		background-color: $white-color;
		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			font-weight: 900;
			line-height: 40px;
			position: absolute;
			color: $black-color;
			font-size: $font-small;
			font-family: 'Font Awesome 5 Free';
		}
		&:hover {
			opacity: 1;
		}
	}
	.slick-prev {
		top: 45%;
		left: 90%;
		&:before {
			content: '\f060';
		}
	}
	.slick-next {
		top: 50%;
		right: 7%;
		&:before {
			content: '\f061';
		}
	}
}
/* index - 2 - end
==================================================================================================== */