/* sponsor section - start
==================================================================================================== */
// default-sponsor-section - start
// ==================================================
.default-sponsor-section {
	padding: 80px 0px;
	ul {
		width: 100%;
		margin: 0px;
		padding: 0px;
		display: table;
		li {
			width: 25%;
			float: left;
			height: 160px;
			list-style: none;
			display: inline-block;
			border-right: 1px solid $gray-light-color;
			&:last-child {border-right: none;}
			a {
				z-index: 1;
				width: 100%;
				height: 100%;
				display: block;
				padding: 0px 30px;
				text-align: center;
				line-height: 160px;
				position: relative;
				background-color: $white-color;
				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 0;
					z-index: -1;
					content: '';
					position: absolute;
					background: $gradient-default;
					transition: $default-transition;
				}
			}
			&:hover {
				a {
					z-index: 2;
					box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}
// default-sponsor-section - end
// ==================================================



// absolute-sponsor-section - start
// ==================================================
.absolute-sponsor-section {
	padding: 60px 0px;
	position: relative;
	ul {
		top: 0;
		left: 50%;
		margin: 0px;
		padding: 0px;
		width: 1170px;
		display: flex;
		position: absolute;
		transform: translateX(-50%);
		box-shadow: 0 5px 50px 2px rgba(0,0,0,0.2);
		li {
			width: 25%;
			height: 160px;
			display: inline-block;
			background-color: $white-color;
			border-right: 1px solid $gray-deep-color;
			&:last-child {border-right: none;}
			a {
				z-index: 1;
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				padding: 0px 50px;
				line-height: 160px;
				position: relative;
				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 0;
					content: '';
					z-index: -1;
					position: absolute;
					background: $gradient-default;
					transition: $default-transition;
				}
				img {filter: grayscale(1);}
			}
			&:hover {
				a {
					&:before {opacity: 1;}
					img {filter: grayscale(0);}
				}
			}
		}
	}
}
// absolute-sponsor-section - end
// ==================================================
/* sponsor section - end
==================================================================================================== */