/* testimonial section - start
==================================================================================================== */
// testimonial 5 (about page) - start
// ==================================================
.testimonial5-section {
	.item {
		padding: 0px 180px;
		.quote-icon {
			display: table;
			margin: 0 auto 50px;
			transition: $default-transition;
			i {
				font-size: 54px;
				background: $gradient-default;
				transition: $default-transition;
				-webkit-background-clip: text!important;
				-webkit-text-fill-color: transparent!important;
			}
		}
		.clients-comment {
			font-weight: 700;
			line-height: 30px;
			color: $black-color;
			margin-bottom: 50px;
			font-size: $font-small;
		}

		.client-info {
			.client-name {
				font-weight: 800;
				color: $yellow-color;
				font-size: $font-medium;
			}
			.client-sub-title {}
		}
	}

	// owl nav & dot settings - start
	.owl-theme {
		.owl-nav {
			.owl-next,
			.owl-prev {
				top: 50%;
				width: 40px;
				margin: 0px;
				opacity: .1;
				padding: 0px;
				height: 40px;
				font-size: 16px;
				overflow: hidden;
				position: absolute;
				border-radius: 100%;
				color: $white-color;
				background: $black-color;
				transform: translateY(-50%);
				span {color: transparent;}
				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					font-weight: 900;
					line-height: 40px;
					text-align: center;
					position: absolute;
					color: $white-color;
					font-size: $font-small;
					font-family: 'Font Awesome 5 Free';
				}
				&:hover {
					opacity: 1;
				}
			}
			.owl-prev {
				left: 0px;
				&:before {content: '\f053';}
			}
			.owl-next {
				right: 0px;
				&:before {content: '\f054';}
			}
		}
		.owl-dots {
			margin-top: 50px;
			.owl-dot.active span,
			.owl-dot:hover span {
				background: $yellow-color;
			}
		}
	}
	// owl nav & dot settings - end
}
// testimonial 5 (about page) - ene
// ==================================================
/* testimonial section - end
==================================================================================================== */