// font load - start
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Roboto', sans-serif;
// font load - end


// font size - start
$font-xlarge: 36px;
$font-large: 30px;
$font-medium: 24px;
$font-small: 18px;
$font-xsmall: 16px;
$font-xxsmall: 14px;
// font size - end


// body color - start
$default-color: #878787;
$yellow-color: #ffbe30;
$orange-color: #ff3e00;
$black-color: #333333;
$white-color: #ffffff;
$gray-deep-color: #f0f0f0;
$gray-light-color: #f7f7f7;
// body color - end


// overlay color - start
$overlay-black: rgba(51, 51, 51, 0.5);
$overlay-white: rgba(255, 255, 255, 0.5);
// overlay color - end


// body gradient color - start
$gradient-default: linear-gradient(to bottom right, #ff3e00 , #ffbe30);
$gradient-reverse: linear-gradient(to bottom right, #ffbe30 , #ff3e00);
// body gradient color - end


// transition - start
$default-transition: all .3s ease-in-out;
// transition - end