{% extends 'admin_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Video</h4>

                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="heading">Video Heading</label>
                            <input type="text" class="form-control" id="heading" name="heading" value="{{ form.title.value|default_if_none:'' }}">
                        </div>

                        

                        <div class="form-group">
                            <label for="video_link">Video Link</label>
                            <input type="text" class="form-control" id="video_link" name="video_link" value="{{ form.video_link.value|default_if_none:'' }}">
                        </div>

                        <button type="submit" class="btn btn-primary me-2">Update</button>
                        <a href="{% url 'video_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
