{% extends 'admin_pages/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Videos List</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Heading</th>
               
                <th>Video Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>{{ video.title }}</td>
                
                <td>
                    {% if video.video_link %}
                        <a href="{{ video.video_link }}" target="_blank">Watch Video</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'update_video' video.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_video' video.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_video' %}" class="btn btn-primary">Add Video</a>
</div>
{% endblock %}
