{% extends "baseindex.html" %}
{% load static %}

{% block content %}


		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(static/assets/images/a3.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<br>
									<br>
									<span class="sub-title">all you need to know</span>
									<h2 class="big-title"><strong>about</strong> Amora</h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="index-1.html" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">about us</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- our-management-section - start
		================================================== -->
		<section id="our-management-section" class="our-management-section bg-gray-light sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- section-title - start -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="section-title text-left mb-50 sr-fade1">
							<small class="sub-title">we are Amora</small>
							<h2 class="big-title"><strong>No.1</strong> Events Management</h2>
							<a href="#!" class="custom-btn">
								get started!
							</a>
						</div>
					</div>
					<!-- section-title - end -->

					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">

							<!-- management-item - start -->
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="management-item sr-fade2">
									<div class="item-title">
										<h3 class="title-text">
											our mission
										</h3>
									</div>
									<p class="black-color mb-30">
										To craft extraordinary experiences that celebrate love, beauty, and artistry. Amora Creations is dedicated to turning dreams into breathtaking realities, ensuring that every event is infused with elegance, emotion, and unforgettable moments.
									</p>
									
								</div>
							</div>
							<!-- management-item - end -->

							<!-- management-item - start -->
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="management-item sr-fade3">
									<div class="item-title">
										<h3 class="title-text">
											our vission
										</h3>
									</div>
									<p class="black-color mb-30">
										At Amora Creations, we are committed to:

Designing and executing luxurious, tailor-made events that leave a lasting impact.

Blending creativity, innovation, and meticulous planning to bring unique visions to life.
									</p>
									
								</div>
							</div>
							<!-- management-item - end -->

						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- our-management-section - end
		================================================== -->





		<!-- award-section - start
		================================================== -->
		<section id="award-section" class="award-section sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- company-age - start -->
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="company-age sr-fade1" style="background-image: url(static/assets/images/a10.jpg);">
							<div class="banner-img">
								<img src="{% static 'assets/images/a13.jpg' %}" alt="Image_not_found">
							</div>
						</div>
					</div>
					<!-- company-age - end -->

					<div class="col-lg-6 col-md-12 col-sm-12">
						<!-- section-title - start -->
						<div class="section-title text-left mb-80 sr-fade1">
							<small class="sub-title">About Us</small>
							<h2 class="big-title">Who<strong>We Are</strong></h2>
							<p>At Amora Creations, we don’t just plan events—we create moments. Inspired by love, passion, and artistic excellence, we bring your vision to life with luxury, creativity, and attention to detail. Whether it's a vibrant Bollywood night, an exclusive corporate gala, or a bespoke private celebration, we curate unforgettable experiences that leave a lasting impression.
								<br><br>Amora Creations is a premier event management and entertainment company, specializing in luxury, high-end experiences. Inspired by the essence of “Amora”—a name rooted in love, passion, and artistic excellence—we create events that are more than just gatherings; they are masterpieces of emotion and design.

								<br><br>At Amora Creations, we don’t just plan events—we curate experiences that inspire, captivate, and leave a lasting impression.<br>
								Amora Creations is more than an event management company—it is a visionary brand that transforms every occasion into an immersive experience, driven by love, luxury, creativity, and artistic excellence to craft unforgettable, emotion-rich moments that linger in memory."

								Let me know if you want it to lean more toward corporate elegance, artistic flair, or emotional storytelling.</p>
						</div>
						
						
					</div>
					
				</div>
			</div>
		</section>
		<!-- award-section - end
		================================================== -->





		<!-- service-section - start
		================================================== -->
		<section id="service-section" class="service-section sec-ptb-100 bg-gray-light clearfix">
			<div class="container">

				<div class="row">
					<div class="col-lg-6">
						<div class="section-title mb-50 sr-fade1">
							<span class="line-style"></span>
							<small class="sub-title">why choose us</small>
							<h2 class="big-title">Amora <strong>Advantages</strong></h2>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="team-btn text-right sr-fade2">
							<a href="#!" class="custom-btn">meet the team</a>
						</div>
					</div>
				</div>

				<div class="service-wrapper sr-fade1">
					<ul>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-handshake"></i>
								</span>
								<strong class="service-title">friendly team</strong>
								<small class="service-sub-title">More than 200 teams</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-cheers"></i>
								</span>
								<strong class="service-title">Unique Scenario</strong>
								<small class="service-sub-title">we thinking out of the box</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-two-balloons"></i>
								</span>
								<strong class="service-title">perfect venues</strong>
								<small class="service-sub-title">perfect venues</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-speech-bubble"></i>
								</span>
								<strong class="service-title">24/7 hours support</strong>
								<small class="service-sub-title">anitime anywhere</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-clown-hat"></i>
								</span>
								<strong class="service-title">Unforgetable Times</strong>
								<small class="service-sub-title">More than 200 teams</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-light-bulb"></i>
								</span>
								<strong class="service-title">Briliant Idea</strong>
								<small class="service-sub-title">We thinking out of the box</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-event-date-and-time-symbol"></i>
								</span>
								<strong class="service-title">Unique Scenario</strong>
								<small class="service-sub-title">perfact venues</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-group"></i>
								</span>
								<strong class="service-title">Best Management</strong>
								<small class="service-sub-title">anytime anywhere</small>
							</a>
						</li>

					</ul>
				</div>

			</div>
		</section>
		

		<!-- special-offer-section - start
		================================================== -->
		<section id="special-offer-section" class="special-offer-section clearfix" style="background-image: url(static/assets/images/a8.jpg);">
			<div class="container">
				<div class="row">

					<!-- special-offer-content - start -->
					<div class="col-lg-9">
						<div class="special-offer-content">
							<h2>Looking for something <span>special for your moment?</span></h2>
							<p class="m-0">
								Contact us now and we will make your event unique & unforgettable
							</p>
						</div>
					</div>
					<!-- special-offer-content - end -->

					<!-- event-makeing-btn - start -->
					<div class="col-lg-3">
						<div class="event-makeing-btn">
							<a href="#!">join with us now</a>
						</div>
					</div>
					<!-- event-makeing-btn - end -->

				</div>
			</div>
		</section>
		<!-- special-offer-section - end
		================================================== -->





		<!-- google map - start
		================================================== -->
		<section id="map-section" class="map-section clearfix">
			<div class="address-wrapper">

				<!-- address-info-topbar - start -->
				<div class="address-info-topbar mb-30 clearfix">
					<div class="address-info-left">
						<h3 class="title-text">Amora event management</h3>
						<p class="m-0">
							Apple Store, 112 Prince St New York,
							NY 10012, United States 80361,
							United States
						</p>
					</div>

					<div class="address-info-right">
						<ul>
							<li>
								<button type="button">
									<span class="icon"><i class="fas fa-street-view"></i></span>
									<small>Direction</small>
								</button>
							</li>
							<li>
								<button type="button">
									<span class="icon"><i class="fas fa-rss"></i></span>
									<small>Save</small>
								</button>
							</li>
						</ul>
					</div>
				</div>
				<!-- address-info-topbar - end -->

				<!-- address-info-bottombar - start -->
				<div class="address-info-bottombar clearfix">
					<div class="address-info-left">
						<div class="rating-star">
							<span class="rating-point">4.5</span>
							<ul>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star-half"></i></li>
							</ul>
						</div>
						<p class="m-0">105 reviews</p>
					</div>

					<div class="address-info-right">
						<button type="button" class="map-larger-btn">
							view larger map
						</button>
					</div>
				</div>
				<!-- address-info-bottombar - end -->
					
			</div>
			<div id="google-map">
				<div id="googleMaps" class="google-map-container"></div>
			</div>
		</section>
		<!-- google map - end
		================================================== -->


		{% endblock %}