{% extends "baseindex.html" %}
{% load static %}

{% block content %}

		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(static/assets/images/a3.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<br>
									<br>
									<span class="sub-title">what we can do</span>
									<h2 class="big-title">Amora <strong>services</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="{% url 'index' %}" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item"><a href="#!" class="breadcrumb-link">About</a></li>
										<li class="breadcrumb-item active" aria-current="page">services</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- service-section - start
		================================================== -->
		<section id="service-section" class="service-section sec-ptb-100 clearfix">
			<div class="container">

				<!-- service-wrapper - start -->
				<div class="service-wrapper">

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<div class="big-image">
								<img src="{% static 'assets/images/a8.jpg' %}" alt="Image_not_found">
							</div>
							<div class="small-image">
								<img src="{% static 'assets/images/a8.jpg' %}" alt="Image_not_found">
							</div>
						</div>
						<div class="service-content float-right">
							<div class="service-title mb-30">
								<h2 class="title-text">Luxury<strong>Event Management</strong></h2>
								
							</div>
							<p class="service-description black-color mb-30">
								From intimate gatherings to grand celebrations, we handle every detail, ensuring a seamless and stress-free experience.
							</p>
							<div class="service-type-list mb-50 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Elegant Planning
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Seamless Execution
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Creative Concepts
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Luxury Décor
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Stress-Free Coordination
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Memorable Moments
									</li>

								</ul>
							</div>
							
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<div class="big-image">
								<img src="{% static 'assets/images/a5.jpg' %}" alt="Image_not_found">
							</div>
							<div class="small-image">
								<img src="{% static 'assets/images/a5.jpg' %}" alt="Image_not_found">
							</div>
						</div>
						<div class="service-content float-left">
							<div class="service-title mb-30">
								<h2 class="title-text">Bollywood  <strong>Nights & Themed Events</strong></h2>
								{% comment %} <span class="service-price">price start from $52.00</span> {% endcomment %}
							</div>
							<p class="service-description black-color mb-30">
								Bringing the magic of Bollywood to life with live musicians, DJs, and immersive cultural experiences. 
							</p>
							<div class="service-type-list mb-50 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Brand Launches
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Executive Meetings
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Networking Sessions
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Product Showcases
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Corporate Galas
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Strategic Events
									</li>

								</ul>
							</div>
							
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<div class="big-image">
								<img src="{% static 'assets/images/a6.jpg' %}" alt="Image_not_found">
							</div>
							<div class="small-image">
								<img src="{% static 'assets/images/a6.jpg' %}" alt="Image_not_found">
							</div>
						</div>
						<div class="service-content float-right">
							<div class="service-title mb-30">
								<h2 class="title-text">Corporate &  <strong>Brand Events</strong></h2>
								{% comment %} <span class="service-price">price start from $52.00</span> {% endcomment %}
							</div>
							<p class="service-description black-color mb-30">
								Bespoke corporate gatherings, product launches, and networking events that leave a lasting impact.
							</p>
							<div class="service-type-list mb-50 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Corporate Gatherings
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Product Launches
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Brand Promotions
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Executive Dinners
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Networking Events
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Business Showcases
									</li>

								</ul>
							</div>
							
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<div class="big-image">
								<img src="{% static 'assets/images/a8.jpg' %}" alt="Image_not_found">
							</div>
							<div class="small-image">
								<img src="{% static 'assets/images/a9.jpg' %}" alt="Image_not_found">
							</div>
						</div>
						<div class="service-content float-left">
							<div class="service-title mb-30">
								<h2 class="title-text">Weddings <strong>& Private Celebrations</strong></h2>
								{% comment %} <span class="service-price">price start from $52.00</span> {% endcomment %}
							</div>
							<p class="service-description black-color mb-30">
								Tailored luxury weddings, milestone birthdays, and exclusive private parties designed to perfection.

							</p>
							<div class="service-type-list mb-50 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Luxury Weddings
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Private Parties
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Milestone Birthdays
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Engagement Events
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Anniversary Celebrations
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Custom Ceremonies
									</li>

								</ul>
							</div>
							
						</div>
					</div>

					

					
					<!-- service-item - end -->

					<div class="service-item clearfix">
						<div class="service-image float-left">
							<div class="big-image">
								<img src="{% static 'assets/images/a7.jpg' %}" alt="Image_not_found">
							</div>
							<div class="small-image">
								<img src="{% static 'assets/images/a7.jpg' %}" alt="Image_not_found">
							</div>
						</div>
						<div class="service-content float-right">
							<div class="service-title mb-30">
								<h2 class="title-text">Live Entertainment <strong>& DJ Services</strong></h2>
								{% comment %} <span class="service-price">price start from $52.00</span> {% endcomment %}
							</div>
							<p class="service-description black-color mb-30">
								We curate live performers, DJs, and entertainment to elevate your event.
							</p>
							<div class="service-type-list mb-50 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Live Performers
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Professional DJs
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Stage Shows
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Musical Acts
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Dance Performances
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Event Hosts
									</li>

								</ul>
							</div>
							
						</div>
					</div>


					
				</div>
				<!-- service-wrapper - end -->

			</div>
		</section>
		<!-- service-section - end
		================================================== -->





		<!-- special-offer-section - start
		================================================== -->
		<section id="special-offer-section" class="special-offer-section clearfix" style="background-image: url(static/assets/images/a2.jpg);">
			<div class="container">
				<div class="row">

					<!-- special-offer-content - start -->
					<div class="col-lg-9 col-md-12 col-sm-12">
						<div class="special-offer-content">
							<h2>Where Passion Meets Elegance, and Every Event Becomes an Unforgettable Experience</h2>
							<p class="m-0"  style="color:yellow;">
								We don’t just plan and organize—we craft experiences, design emotions, and create unforgettable moments. That’s why we are Amora Creations.
							</p>
						</div>
					</div>
					<!-- special-offer-content - end -->

					<!-- event-makeing-btn - start -->
					<div class="col-lg-3 col-md-12 col-sm-12">
						<div class="event-makeing-btn">
							<a href="#!">make an event now</a>
						</div>
					</div>
					<!-- event-makeing-btn - end -->

				</div>
			</div>
		</section>
		<!-- special-offer-section - end
		================================================== -->





		<!-- google map - start
		================================================== -->
		<section id="map-section" class="map-section clearfix">
			<div class="address-wrapper">

				<!-- address-info-topbar - start -->
				<div class="address-info-topbar mb-30 clearfix">
					<div class="address-info-left">
						<h3 class="title-text">Amora event management</h3>
						<p class="m-0">
							Apple Store, 112 Prince St New York,
							NY 10012, United States 80361,
							United States
						</p>
					</div>

					<div class="address-info-right">
						<ul>
							<li>
								<button type="button">
									<span class="icon"><i class="fas fa-street-view"></i></span>
									<small>Direction</small>
								</button>
							</li>
							<li>
								<button type="button">
									<span class="icon"><i class="fas fa-rss"></i></span>
									<small>Save</small>
								</button>
							</li>
						</ul>
					</div>
				</div>
				<!-- address-info-topbar - end -->

				<!-- address-info-bottombar - start -->
				<div class="address-info-bottombar clearfix">
					<div class="address-info-left">
						<div class="rating-star">
							<span class="rating-point">4.5</span>
							<ul>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star-half"></i></li>
							</ul>
						</div>
						<p class="m-0">105 reviews</p>
					</div>

					<div class="address-info-right">
						<button type="button" class="map-larger-btn">
							view larger map
						</button>
					</div>
				</div>
				<!-- address-info-bottombar - end -->
					
			</div>
			<div id="google-map">
				<div id="googleMaps" class="google-map-container"></div>
			</div>
		</section>
		<!-- google map - end
		================================================== -->

		{% endblock %}